${freetextcss}
<div>
	<section class="section ft-section">
		<div class="section__content">
			<div class="text-block">
				<div class="row">
					<div class="col-s-24 col-m-24 col-l-24 off-l-0  has-nospace">
						<div class="context has-text-centered unstyled">
							<h1 class="heading is-2"><span>CCPA - Right to Opt Out</span></h1>
							<p>
								<br />
							</p>
							<p style="text-align: left;">California residents have the right under the California Consumer Privacy Act (CCPA) to opt out of the "sale" of their personal information.</p>
							<p style="text-align: left;">CHANEL does not knowingly "sell" personal information. However, the meaning of "sale" under the CCPA is broad and may include certain routine business practices, including some that involve the use of website cookies.</p>
							<p style="text-align: left;">You can disable cookies through your web browser or opt out of certain types of cookie-based sharing by visiting our
								<button id="onetrust-pc-btn-handler" tabindex="0" class="cookie-setting-link" style="float: inherit; text-decoration: underline; font-weight: 300; margin: 0 !important">
                                <a  role="button" href="#" class="ot-sdk-show-settings" data-ccservices="anchor">Privacy Preference Center</a>
								</button>, which you can also access on our homepage cookie banner. You can learn more about the cookies we use by visiting our <a href="https://services.chanel.com/en_US/policies/privacy">Privacy Policy</a>.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>