${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-sab-hub">
	<style type="text/css">
		.ft-sab-hub__header{background-image:url(https:////www.chanel.com/emea/img//prd-emea/sys-master/content/heb/h91/9354603167774-MicrosoftTeams-image-mobile.png);background-repeat:no-repeat;background-size:100% 100%;z-index:-1;min-height:450px;background-position:center}@media screen and (min-width: 600px){.ft-sab-hub__header{background-image:url(https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h31/h8f/9354603200542-MicrosoftTeams-image-desktop.png);min-height:550px;height:40vh;background-size:contain}}
	</style>
	<div class="ft-sab-hub__header ft-gap-medium">
		<div class="ft-header__title ft-text-center">
			<h1 class="ft-h1 ft-gap-tiny"> chanel fragrance & beauty boutiques</h1>
		</div>
	</div>
	<div class="ft-row ft-gap-extra-large" id="ft-btq-section">
		<div class="ft-col-full">
			<div class="ft-sab-hub__locations">
				<h2 class="ft-h2 ft-text-center ft-gap-small ft-text-grey" id="ft-sab-locations"> locations</h2>
				<p class="ft-text-center ft-paragraph">We're reopening our boutiques and taking extra precautions to ensure a safe environment.</p>
				<div class="ft-col-center ft-gap-small" style="display: flex; justify-content: center; margin-top: 12px"> <a class="link has-icon is-right" href="/us/welcome-back/" style=" font-family: abchanel-corpo; font-weight: 600; font-size: 0.75rem; ">Learn More <svg class="icon is-xsmall is-next is-next-button" aria-hidden="true" data-test="" focusable="false" viewbox="0 0 1 1" xmlns:xlink="http://www.w3.org/1999/xlink"> <use xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next"></use> </svg> </a>
				</div>
				<div class="ft-sab-location-carousel__container">
					<div class="ft-gap-extra-tiny" id="ft-sab-carousel-locations">
						<div class="ft-sab-location-carousel__item" id="valleyfair">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">Valley Fair</h3>
								<p class="ft-paragraph ft-gap-extra-small">2855 Stevens Creek Blvd, Suite 1128
									<br />Santa Clara, CA 95050</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Thursday: 11 AM – 7 PM
									<br />Friday – Saturday: 11 AM – 8 PM
									<br />Sunday: 11 AM – 7 PM
									<br />
									<br />NOW OPEN
									<br />
								</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (669) 369-7651" rel="nofollow">+1 (669) 369-7651</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beauty+boutique-112639/@37.325320999999995,-122.17751285888671,11z/?division%5B%5D=1&productline%5B%5D=1&productline%5B%5D=2&productline%5B%5D=3&productline%5B%5D=4&productline%5B%5D=26&division%5B%5D=2&productline%5B%5D=5&division%5B%5D=5&productline%5B%5D=18&productline%5B%5D=19&productline%5B%5D=25&division%5B%5D=3&productline%5B%5D=10&productline%5B%5D=14&productline%5B%5D=13&productline%5B%5D=12&lang=en-US" target="_blank" data-tag-name="Valley Fai">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="legacyWest">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">Legacy West</h3>
								<p class="ft-paragraph ft-gap-extra-small">7700 Windrose Avenue
									<br />Plano, TX 75024</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Saturday: 11 AM – 8 PM
									<br />Sunday: 12 AM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (469) 750-2173" rel="nofollow">+1 (469) 750-2173</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beauty+boutique-112569/@33.08192800000002,-97.05760185888671,11z/?division%5B%5D=1&productline%5B%5D=1&productline%5B%5D=2&productline%5B%5D=3&productline%5B%5D=4&division%5B%5D=2&productline%5B%5D=5&division%5B%5D=5&productline%5B%5D=18&productline%5B%5D=19&productline%5B%5D=25&division%5B%5D=3&productline%5B%5D=10&productline%5B%5D=14&productline%5B%5D=13&productline%5B%5D=12&lang=en-US" target="_blank" data-tag-name="palisades village">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="shortHills">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">short hills</h3>
								<p class="ft-paragraph ft-gap-extra-small">1200 Morris Turnpike, Suite #B-125
									<br />Short Hills, NJ 07078</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Saturday: 10 AM – 7 PM
									<br />Sunday: 11 AM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (862) 901-6312" rel="nofollow">+1 (862) 901-6312</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-112568/@40.740864000000016,-74.59600085888673,11z/?division%5B%5D=1&productline%5B%5D=1&productline%5B%5D=2&productline%5B%5D=3&productline%5B%5D=4&division%5B%5D=2&productline%5B%5D=5&division%5B%5D=5&productline%5B%5D=18&productline%5B%5D=19&productline%5B%5D=25&division%5B%5D=3&productline%5B%5D=10&productline%5B%5D=14&productline%5B%5D=13&productline%5B%5D=12&lang=en-US" target="_blank" data-tag-name="palisades village">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="avalon">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">avalon</h3>
								<p class="ft-paragraph ft-gap-extra-small">5160 Avalon Boulevard
									<br />Alpharetta, Georgia 30009</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Saturday: 11 AM – 7 PM
									<br />Sunday: 12 PM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (470) 412-0174" rel="nofollow">+1 (470) 412-0174</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-110995/@34.07079699999999,-84.5076138588867,11z/?division%5B%5D=1&amp;productline%5B%5D=1&amp;productline%5B%5D=2&amp;productline%5B%5D=3&amp;productline%5B%5D=4&amp;division%5B%5D=2&amp;productline%5B%5D=5&amp;division%5B%5D=5&amp;productline%5B%5D=18&amp;productline%5B%5D=19&amp;division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;lang=en-US" target="_blank" data-tag-name="avalon">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="aventura">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">aventura mall</h3>
								<p class="ft-paragraph ft-gap-extra-small">19501 Biscayne Boulevard
									<br />Aventura, Florida 33180</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Sunday: 12 PM – 8 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (305) 933-7155" rel="nofollow">+1 (305) 933-7155</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="http://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-109624/@25.956808000000013,-80.20081871472166,13z/?division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;chanel-only=1&amp;lang=en" target="_blank" data-tag-name="aventura mall">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="brickell">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">brickell city centre</h3>
								<p class="ft-paragraph ft-gap-extra-small">701 S Miami Ave, Suite 230B
									<br />Miami, Florida 33131</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Thursday: 12 PM – 8 PM
									<br />Friday – Saturday: 12 PM – 9 PM
									<br />Sunday: 12 PM - 7 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (786) 673-4077" rel="nofollow">+1 (786) 673-4077</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="http://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-111327/@25.767336,-80.30913142944337,12z/?division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;chanel-only=1&amp;lang=en" target="_blank" data-tag-name="brickell city centre">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="domain">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">domain northside</h3>
								<p class="ft-paragraph ft-gap-extra-small">11621 Rock Rose Ave, Suite 120
									<br />Austin, TX 78750</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Saturday: 11 AM – 7 PM
									<br />Sunday: 12 PM - 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (512) 318-2355" rel="nofollow">+1 (512) 318-2355</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-112110/@30.402173999999988,-98.18564571777343,10z/?division%5B%5D=1&amp;productline%5B%5D=1&amp;productline%5B%5D=2&amp;productline%5B%5D=3&amp;productline%5B%5D=4&amp;division%5B%5D=2&amp;productline%5B%5D=5&amp;division%5B%5D=5&amp;productline%5B%5D=18&amp;productline%5B%5D=19&amp;division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;lang=en-US" target="_blank" data-tag-name="domain northside">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="fashionIsland">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">fashion island</h3>
								<p class="ft-paragraph ft-gap-extra-small">815 Newport Center Dr, Suite 815
									<br />Newport Beach, CA 92660</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Thursday: 10 AM – 7 PM
									<br />Friday – Saturday: 10 AM – 8 PM
									<br />Sunday: 11 AM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (424) 301-7001" rel="nofollow">+1 (424) 301-7001</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-112040/@33.616699,-117.99427442944337,12z/?division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;chanel-only=1&amp;lang=en" target="_blank" data-tag-name="fashion island">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">King of Prussia</h3>
								<p class="ft-paragraph ft-gap-extra-small">160 North Gulph Rd, Suite 2306E
									<br />King of Prussia, PA 19406</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday - Saturday: 11 AM – 7 PM
									<br />Sunday: 12 PM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (484) 370-4628" rel="nofollow">+1 (484) 370-4628</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="https://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-112363/@40.088367000000005,-75.62331385888672,11z/?division%5B%5D=1&productline%5B%5D=1&productline%5B%5D=2&productline%5B%5D=3&productline%5B%5D=4&division%5B%5D=2&productline%5B%5D=5&division%5B%5D=5&productline%5B%5D=18&productline%5B%5D=19&division%5B%5D=3&productline%5B%5D=10&productline%5B%5D=14&productline%5B%5D=13&productline%5B%5D=12&lang=en-US" target="_blank" data-tag-name="King of Prussia">View on map</a>
								</p>
							</div>
						</div>
						<div class="ft-sab-location-carousel__item" id="palisades">
							<div class="ft-text-center">
								<h3 class="ft-f20 ft-gap-small">palisades village</h3>
								<p class="ft-paragraph ft-gap-extra-small">15263 Palisades Village Lane
									<br />Pacific Palisades, California 90272</p>
								<p class="ft-paragraph ft-gap-extra-small">Monday – Thursday: 10 AM – 6 PM
									<br />Friday - Saturday: 11 AM – 7 PM
									<br />Sunday: 10 AM – 6 PM
									<br />
									<br />Curbside pickup is available;
									<br />please call to place an order.</p>
								<p class="ft-gap-extra-small"> <a class="is-underline ft-paragraph" href="tel:+1 (424) 397-1629" rel="nofollow">+1 (424) 397-1629</a>
								</p>
								<p class="ft-underline-button"> <a class="ft-location-button" href="http://services.chanel.com/en_US/storelocator/crp/store/chanel+fragrance+and+beaut%C3%A9+boutique-110792/@34.04741699999998,-118.58300571472171,13z/?division%5B%5D=3&amp;productline%5B%5D=10&amp;productline%5B%5D=14&amp;productline%5B%5D=13&amp;productline%5B%5D=12&amp;chanel-only=1&amp;lang=en" target="_blank" data-tag-name="palisades village">View on map</a>
								</p>
							</div>
						</div>
					</div>
					<button class="ft-carousel__arrow-button left-img" id="left-slide">
						<img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h25/h22/8828495495198-arrow-left.png" alt="" width="15px" />
						<div class="is-sr-only">previous slide</div>
					</button>
					<button class="ft-carousel__arrow-button right-img" id="right-slide">
						<img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h16/h1c/8828495626270-arrow-right.png" alt="" width="15px" />
						<div class="is-sr-only">next slide</div>
					</button>
					<div class="ft-sab-location-carousel__controller showMobile">
						<p class="ft-center ft-h6"> <span id="current-slide-number">1</span><span>/</span><span id="total-slide-number">1</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ft-sab-hub__services">
		<h2 class="ft-h2 ft-text-center ft-gap-medium ft-text-grey"> Boutique Services</h2>
		<div class="ft-row ft-gap-medium">
			<div class="ft-col-full">
				<nav class="ft-services__navigation" role="navigation" aria-label="Boutique Services">
					<div class="ft-services__navigation-line"></div>
					<div class="ft-center">
						<ul class="ft-services-nav__list">
							<li class="ft-services-nav__li">
								<button class="ft-services-nav__item ft-service-nav__item--active" data-section="#ft-section-1">Book an Appointment</button>
							</li>
							<li class="ft-services-nav__spacer"></li>
							<li class="ft-services-nav__li">
								<button class="ft-services-nav__item" data-section="#ft-section-2">Delivery Options</button>
							</li>
							<li class="ft-services-nav__spacer"></li>
							<li class="ft-services-nav__li">
								<button class="ft-services-nav__item" data-section="#ft-section-3">The art of detail</button>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<div class="ft-row ft-center ft-service__section ft-service__section--active" id="ft-section-1">
			<div class="ft-col-4 ft-col-sm-6 ft-gap-medium">
				<img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h8a/h2d/8986422509598-appointment-booking.jpeg" alt="" width="100%" />
			</div>
			<div class="ft-col-1 hideMobile"></div>
			<div class="ft-col-4 ft-col-sm-6 ft-service__text">
				<h3 class="ft-h4 ft-gap-small">Book an Appointment</h3>
				<p class="ft-paragraph ft-gap-small">Discover an array of personalized services available online and at a boutique near you.</p>
				<p> <a href="#appointmentbooking" id="ft-book-an-appt"><span class=" link has-icon is-reversed is-right is-cta is-media-position "><span class="medium-push__wrapper">Learn More</span><svg class="icon is-xsmall is-next" data-test="" focusable="false" viewbox="0 0 1 1" aria-hidden="true"> <use xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next"></use> </svg></span></a>
				</p>
			</div>
		</div>
		<div class="ft-row ft-center ft-service__section ft-service__section--inactive" id="ft-section-2">
			<div class="ft-col-4 ft-col-sm-6 ft-gap-medium">
				<img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h2b/hd2/8997617500190-SAB-SERVICES-Click-Collect.jpg" alt="" width="100%" />
			</div>
			<div class="ft-col-1 hideMobile"></div>
			<div class="ft-col-4 ft-col-sm-6 ft-service__text">
				<h3 class="ft-h4 ft-gap-tiny">CURBSIDE PICKUP</h3>
				<p class="ft-paragraph">Place an order by calling the boutique, and we’ll bring your items to your car.</p>
				<div class="ft ft-gap-small"></div>
				<h3 class="ft-h4 ft-gap-tiny">HOME DELIVERY</h3>
				<p class="ft-paragraph">Shop online 24/7 and enjoy complimentary shipping and returns with every purchase.</p>
			</div>
		</div>
		<div class="ft-row ft-center ft-service__section ft-service__section--inactive" id="ft-section-3">
			<div class="ft-col-4 ft-col-sm-6 ft-gap-medium ">
				<img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h71/hcf/8997617467422-8829100523550.jpeg" alt="" width="100%" />
			</div>
			<div class="ft-col-1 hideMobile ft-gap-small"></div>
			<div class="ft-col-4 ft-col-sm-6 ft-service__text">
				<h3 class="ft-h4 ft-gap-small">The art of detail</h3>
				<p class="ft-paragraph">CHANEL provides a selection of exclusive wrapping with every purchase. Each item is prepared with care and special attention to every detail.</p>
			</div>
		</div>
	</div>
	<div class="ft-sab-hub__channel-factory-5 ft-col-sm-12">
		<div class="ft-row ft-gap-extra-large ft-center">
			<div class="ft-col-4 ft-col-sm-12 ft-text-right ft-sab-hub__factory-text ft-order-item" style="padding-top: 20px;">
				<h2 class="ft-h3 ft-gap-extra-small ft-text">SUBLIMAGE</h2>
				<p class="ft-paragraph ft-text ft-gap-tiny">Discover 2 new SUBLIMAGE products: LE BAUME and LA CRÈME CORPS ET DÉCOLLETÉ. Together with L’ESSENCE FONDAMENTALE, they have the power to transform the look of skin.</p>
				<a href="#ft-btq-section" class="ft-underline ft-text"> <span class="link has-icon is-reversed is-right is-cta is-media-position"> <span class="medium-push__wrapper">Find your nearest boutique</span> </span>
				</a>
			</div>
			<div class="ft-img_push-header ft-col-5 ft-col-sm-12" style="position: relative;">
				<img alt="" width="100%" src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h6b/h51/9354593959966-DESK_ONE_landing_PUSH-HEADER.jpg" class="showDesktop" />
				<img alt="" width="100%" src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h01/h51/9354593992734-MOBILE_ONE_landing_PUSH-HEADER.jpg" class="showMobile" />
				<div class=" ft-col-4 ft-col-sm-12 ft-text-right ft-sab-hub__factory-text_copy ft-order-item ">
					<h2 class="ft-h2 ft-gap-extra-small ft-text-right">SUBLIMAGE</h2>
					<p class="ft-paragraph_copy ft-text-right ft-gap-tiny">Discover 2 new SUBLIMAGE products: LE BAUME and LA CRÈME CORPS ET DÉCOLLETÉ. Together with L’ESSENCE FONDAMENTALE, they have the power to transform the look of skin.</p>
					<a href="#ft-btq-section" class="ft-underline ft-text-right"> <span class="link has-icon is-reversed is-right is-cta is-media-position"> <span class="medium-push__wrapper">Find your nearest boutique</span> </span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div id="appointmentbooking">
		<div class="ft-row">
			<div class="ft-col-full">
				<div class="ft-sab-hub__locations">
					<h2 class="ft-h2 ft-text-center ft-gap-medium ft-text-grey"> Book an appointment</h2>
				</div>
			</div>
		</div>
		<div class="ft-row ft-gap-small ft-reserve__panel">
			<div class="ft-col-1 hideMobile"></div>
			<div class="ft-col-9 ft-reserve-panel__container"> <span class="ft-reserve-checkbox__container"><input id="reserve-virtual" type="checkbox" name="reserve-virtual" aria-required="false" /><label class="ft-sab-checkbox__label" for="reserve-virtual">Virtual Services</label></span><span class="ft-reserve-checkbox__container"><input id="reserve-private" type="checkbox" name="reserve-private" aria-required="false" /><label class="ft-sab-checkbox__label" for="reserve-private">Private Shopping Services</label></span>
			</div>
			<div class="ft-col-3 ft-reserve__result"></div>
		</div>
		<div class="ft-row ft-v-center ft-sab-service" data-service-type="reserve-virtual" data-service-name="VIRTUAL CONSULTATION">
			<div class="ft-col-1 hideMobile"></div>
			<div class="ft-col-5 ft-sab-service__details">
				<h3 class="ft-h4 ft-text-bold ft-gap-extra-small"> VIRTUAL CONSULTATION</h3>
				<p class="ft-paragraph">Connect remotely with a CHANEL Beauty Advisor for makeup and skincare advice or inspiration during a one-on-one video chat.</p>
			</div>
			<div class="ft-col-3 ft-h4">30 minutes</div>
			<div class="ft-col-lg-2 ft-col-sm-3">
				<div class="ft-brickwork-button" id="reserve-virtual-brickwork" data-service-id="id1" data-service-name="VIRTUAL CONSULTATION"></div>
			</div>
			<div class="ft-col-10 ft-col-center">
				<div class="ft-reserve__spacer"></div>
			</div>
		</div>
		<div class="ft-row ft-v-center ft-sab-service" data-service-type="reserve-private" data-service-name="PRIVATE SHOPPING SESSION">
			<div class="ft-col-1 hideMobile"></div>
			<div class="ft-col-5 ft-sab-service__details">
				<h3 class="ft-h4 ft-text-bold ft-gap-extra-small"> PRIVATE SHOPPING SESSION</h3>
				<p class="ft-paragraph">Shop CHANEL beauty must-haves in the boutique before or after regular operating hours.</p>
			</div>
			<div class="ft-col-3 ft-h4">30 minutes</div>
			<div class="ft-col-lg-2 ft-col-sm-3">
				<div class="ft-brickwork-button" id="reserve-private-brickwork" data-service-id="id2" data-service-name="PRIVATE SHOPPING SESSION"></div>
			</div>
			<div class="ft-col-10 ft-col-center">
				<div class="ft-reserve__spacer"></div>
			</div>
		</div>
	</div>
</div>