.ft-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 11px;
	max-width: 600px;
	margin: 0 auto
}
@media screen and (min-width: 600px) {
	.ft-row {
		max-width: 1440px;
		padding: 0 13.5px
	}
}
@media screen and (min-width: 600px) {
	.ft-row {
		max-width: 1440px;
		padding: 0 13.5px
	}
}
@media screen and (min-width: 600px) {
	.ft-img_push-header {
		width: 83%!important
	}
}
.ft-row .ft-col-half {
	width: 50%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-half {
		padding: 0 13.5px
	}
}
.ft-row .ft-col-full {
	width: 100%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-full {
		padding: 0 13.5px
	}
}
.ft-row .ft-col-1 {
	width: 16.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-1 {
	width: 16.66667%;
	padding: 0 9px
}
.ft-row .ft-col-2 {
	width: 33.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-2 {
	width: 33.33333%;
	padding: 0 9px
}
.ft-row .ft-col-3 {
	width: 50%;
	padding: 0 9px
}
.ft-row .ft-col-sm-3 {
	width: 50%;
	padding: 0 9px
}
.ft-row .ft-col-4 {
	width: 66.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-4 {
	width: 66.66667%;
	padding: 0 9px
}
.ft-row .ft-col-5 {
	width: 83.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-5 {
	width: 83.33333%;
	padding: 0 9px
}
.ft-row .ft-col-6 {
	width: 100%;
	padding: 0 9px
}
.ft-row .ft-col-sm-6 {
	width: 100%;
	padding: 0 9px
}
.ft-row .ft-col-7 {
	width: 116.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-7 {
	width: 116.66667%;
	padding: 0 9px
}
.ft-row .ft-col-8 {
	width: 133.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-8 {
	width: 133.33333%;
	padding: 0 9px
}
.ft-row .ft-col-9 {
	width: 150%;
	padding: 0 9px
}
.ft-row .ft-col-sm-9 {
	width: 150%;
	padding: 0 9px
}
.ft-row .ft-col-10 {
	width: 166.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-10 {
	width: 166.66667%;
	padding: 0 9px
}
.ft-row .ft-col-11 {
	width: 183.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-11 {
	width: 183.33333%;
	padding: 0 9px
}
.ft-row .ft-col-12 {
	width: 200%;
	padding: 0 9px
}
.ft-row .ft-col-sm-12 {
	width: 200%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-12 {
		width: 100%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-12 {
		width: 100%;
		padding: 0 13.5px
	}
}
@media screen and (min-width: 600px) and (max-width: 960px) {
	.ft-row .ft-col-md-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-12 {
		width: 100%;
		padding: 0 13.5px
	}
}
.ft-row .content {
	border: 3px dashed #767676;
	height: 54px;
	background: #a6d8f2;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center
}
.ft-center {
	display: flex;
	justify-content: center
}
@media screen and (max-width: 600px) {
	.ft-order-item {
		order: 1
	}
}
.ft-v-center {
	display: flex;
	align-items: center
}
.ft-row-space-between {
	display: flex;
	justify-content: space-between
}
.ft-row-end {
	display: flex;
	justify-content: flex-end
}
.ft-col-right {
	margin-left: auto
}
.ft-col-left {
	margin-right: auto
}
.ft-col-center {
	margin: 0 auto
}
.ft-row-space-around {
	justify-content: space-around
}
.ft-row-space-evenly {
	justify-content: space-evenly
}
.ft-grow {
	flex-grow: 1
}
.ft-h1 {
	font-family: abchanel-pb-m;
	font-size: 20px;
	line-height: 31px
}
@media screen and (min-width: 600px) {
	.ft-h1 {
		font-size: 30px;
		line-height: 36px
	}
}
@media screen and (min-width: 960px) {
	.ft-h1 {
		font-size: 35px;
		line-height: 45px
	}
}
.ft-h2 {
	font-family: abchanel-pb-m;
	font-size: 20px;
	line-height: 27px
}
@media screen and (min-width: 600px) {
	.ft-h2 {
		font-size: 30px;
		line-height: 36px
	}
}
@media screen and (min-width: 960px) {
	.ft-h2 {
		font-size: 30px;
		line-height: 36px
	}
}
.ft-h3 {
	font-family: abchanel-pb-m;
	font-size: 16px;
	line-height: 23px
}
@media screen and (min-width: 600px) {
	.ft-h3 {
		font-size: 25px;
		line-height: 31px
	}
}
@media screen and (min-width: 960px) {
	.ft-h3 {
		font-size: 25px;
		line-height: 31px
	}
}
.ft-f20 {
	font-family: abchanel-pb-m;
	font-size: 20px;
	line-height: 20px
}
.ft-h4 {
	font-family: abchanel-pb-m;
	font-size: 16px;
	line-height: 23px
}
.ft-h5 {
	font-family: abchanel-pb-m;
	font-size: 16px;
	line-height: 23px
}
.ft-h6 {
	font-family: abchanel-pb-m;
	font-size: 14px;
	line-height: 20px
}
.ft-h7 {
	font-family: abchanel-pb-m;
	font-size: 10px;
	line-height: 18px
}
.ft-text-center {
	text-align: center
}
.ft-text-right {
	text-align: right
}
.ft-text-left {
	text-align: left
}
.ft-text {
	text-align: center
}
@media screen and (min-width: 600px) {
	.ft-text {
		text-align: left
	}
}
.ft-underline {
	text-decoration: underline
}
.ft-paragraph {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 300;
	color: #1d1d1d
}
.ft-text-bold {
	font-weight: 700
}
.ft-gap-extra-large {
	margin-bottom: 63px
}
@media screen and (min-width: 600px) {
	.ft-gap-extra-large {
		margin-bottom: 90px
	}
}
.ft-gap-large {
	margin-bottom: 54px
}
@media screen and (min-width: 600px) {
	.ft-gap-large {
		margin-bottom: 72px
	}
}
.ft-gap-medium {
	margin-bottom: 27px
}
@media screen and (min-width: 600px) {
	.ft-gap-medium {
		margin-bottom: 54px
	}
}
.ft-gap-small {
	margin-bottom: 18px
}
@media screen and (min-width: 600px) {
	.ft-gap-small {
		margin-bottom: 36px
	}
}
.ft-gap-extra-small {
	margin-bottom: 18px
}
.ft-gap-tiny {
	margin-bottom: 9px
}
.ft-gap-extra-tiny {
	margin-bottom: 5px
}
.ft-bottom-padding-large {
	padding-bottom: 54px
}
@media screen and (min-width: 600px) {
	.ft-bottom-padding-large {
		padding-bottom: 72px
	}
}
.ft-top-padding-large {
	padding-top: 54px
}
@media screen and (min-width: 600px) {
	.ft-top-padding-large {
		padding-top: 72px
	}
    .ft-top-padding-medium {
        padding-top: 36px
    }
}
.ft-top-padding-medium {
	padding-top: 16px
}
.ft-bottom-border {
	border-bottom: 1px solid #ececec
}
.ft-top-border {
	border-top: 1px solid #ececec
}
.ft-top-border-dark {
	border-top: 1px solid #000
}
.ft-button-white {
	font-family: abchanel-pb-m;
	font-size: 11px;
	width: 100%;
	letter-spacing: 0;
	text-align: center;
	line-height: 16px;
	border: 1px solid #1d1d1d;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	cursor: pointer
}
.ft-button-black {
	font-family: abchanel-pb-m;
	width: 100%;
	font-size: 13px;
	letter-spacing: 0;
	text-align: center;
	line-height: 16px;
	border: 1px solid #1d1d1d;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	margin: 0 auto;
	cursor: pointer;
	transition: all 150ms ease-in
}
.ft-button-black:hover {
	background: #fff;
	color: #000
}
.ft-links-button {
	font-family: abchanel-pb-m;
	border: 2px solid transparent;
	border-bottom-color: #ececec;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline-block;
	padding: 18px 0 7px 0;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	vertical-align: middle;
	line-height: 16px;
	cursor: pointer;
	outline: 0;
	background: 0 0;
	text-align: center
}
.ft-link-underline {
	font-weight: inherit;
	padding: 0;
	margin: 0;
	text-decoration: underline;
	background: 0 0;
	cursor: pointer;
	border: 0;
	color: inherit
}
.showMobile {
	display: block
}
@media screen and (min-width: 600px) {
	.showMobile {
		display: none
	}
}
.showIpad {
	display: none
}
@media screen and (min-width: 600px) and (max-width: 960px) {
	.showIpad {
		display: block
	}
}
.showDesktop {
	display: none
}
@media screen and (min-width: 960px) {
	.showDesktop {
		display: block
	}
}
.hideDesktop {
	display: block
}
@media screen and (min-width: 960px) {
	.hideDesktop {
		display: none
	}
}
.hideMobile {
	display: none
}
@media screen and (min-width: 600px) {
	.hideMobile {
		display: block
	}
}
.ft-input {
	position: relative;
	padding: 5px 0
}
.ft-input label {
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1
}
.ft-input input {
	background: 0 0;
	outline: 0;
	border: 0;
	margin-top: 5px;
	transition: all .4s linear
}
.ft-input input:focus+label {
	transform: scale(.7);
	transform-origin: left top;
	color: #7b5353;
	transition: all .4s linear;
	top: 0;
	left: 0
}
.ft-input input:not(:placeholder-shown)+label {
	top: 0;
	left: 0;
	transform: scale(.7);
	transform-origin: left top;
	transition: all .4s linear
}
.ft-input input::placeholder {
	opacity: 0
}
.ft-input input:focus~hr:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #000;
	animation-name: borderwidth;
	animation-duration: .7s;
	animation-fill-mode: forwards
}
.ft-input input:not(:focus)~hr:after {
	content: "";
	position: absolute;
	animation-name: borderwidthBack;
	animation-duration: .7s;
	animation-fill-mode: forwards
}
.ft-input hr {
	position: relative;
	background: #d3d3d3;
	height: 1px;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0
}
@keyframes borderwidth {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}
@keyframes borderwidthBack {
	from {
		border: 2px solid #000;
		width: 100%
	}
	to {
		border: 0 solid #000;
		width: 0
	}
}
.ft-sab-hub {
	padding-bottom: 200px
}
.ft-sab-hub .ft-sab-hub__header {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}
.ft-sab-hub .ft-sab-hub__header .ft-header__title {
	color: #fff;
	max-width: 750px;
	padding: 0 20px
}
.ft-sab-hub .ft-services__navigation {
	position: relative
}
.ft-sab-hub .ft-sab-hub__services {
	margin-bottom: 100px
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-sab-hub__services {
		margin-bottom: 150px
	}
}
.ft-sab-hub .ft-sab-hub__services .ft-services-nav__list {
	display: flex;
	height: 50px;
	padding-bottom: 3px
}
@media screen and (max-width: 600px) {
	.ft-sab-hub .ft-sab-hub__services .ft-services-nav__list {
		overflow-x: scroll;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		-webkit-backface-visibility: hidden;
		scrollbar-width: none;
		-ms-overflow-style: none
	}
	.ft-sab-hub .ft-sab-hub__services .ft-services-nav__list::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0
	}
}
.ft-sab-hub .ft-sab-hub__services .ft-services-nav__spacer {
	padding-right: 50px
}
.ft-sab-hub .ft-sab-hub__services .ft-services-nav__item {
	display: inline-flex;
	align-items: center;
	height: 100%;
	font-family: abchanel-pb-m;
	font-size: 14px;
	color: #767676;
	background: 0 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: border .2s ease-out
}
@media screen and (max-width: 600px) {
	.ft-sab-hub .ft-sab-hub__services .ft-services-nav__item {
		overflow-x: hidden;
		overflow-y: scroll;
		flex-wrap: nowrap
	}
}
.ft-sab-hub .ft-sab-hub__services .ft-services-nav__item:hover {
	border-bottom: 3px solid #000;
	color: #333
}
.ft-sab-hub .ft-sab-hub__services .ft-services-nav__item:focus {
	border-bottom: 3px solid #000
}
.ft-sab-hub .ft-sab-hub__services .ft-services__navigation-line {
	width: 100%;
	height: 1px;
	background: #ececec;
	position: absolute;
	bottom: 2px;
	z-index: -1
}
.ft-sab-hub .ft-sab-hub__services .ft-service-nav__item--active {
	border-bottom: 3px solid #000;
	color: #333
}
.ft-sab-hub .ft-sab-hub__services .ft-text-grey {
	color: #1d1d1d
}
.ft-sab-hub .ft-sab-hub__services .ft-service__section--active {
	opacity: 1;
	display: flex;
	animation: fade-in .6s ease-in
}
.ft-sab-hub .ft-sab-hub__services .ft-service__section--inactive {
	display: none
}
@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
.ft-sab-hub .ft-service__text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-service__text {
		text-align: left
	}
}
.ft-sab-hub #ft-btq-section {
	padding-top: 40px
}
.ft-sab-hub .ft-sab-hub__locations {
	padding: 0 20px
}
.ft-sab-hub #ft-sab-carousel-locations {
	cursor: default!important
}
.ft-sab-hub .ft-sab-location-carousel__container {
	position: relative;
	max-width: 1440px;
	margin: 0 auto
}
@media screen and (min-width: 960px) {
	.ft-sab-hub .ft-sab-location-carousel__container {
		padding: 0 15px
	}
}
.ft-sab-hub .ft-sab-location-carousel__container .left-img {
	left: -20px
}
.ft-sab-hub .ft-sab-location-carousel__container .right-img {
	right: -20px
}
.ft-sab-hub .ft-sab-location-carousel__container .left-img,
.ft-sab-hub .ft-sab-location-carousel__container .right-img {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	z-index: 1
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-carousel__arrow-button {
	background: 0 0;
	outline: 0;
	border: 0;
	cursor: pointer;
	padding: 5px;
	margin: 0 5px
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-carousel__arrow-button:focus {
	outline: 1px solid #636363
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-carousel__arrow-button img {
	width: 15px
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-carousel__arrow-button:disabled svg {
	fill: grey
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-sab-location-carousel__item {
	background: #f9f9f9;
	padding: 60px 20px;
	margin: 0 10px
}
@media screen and (min-width: 960px) {
	.ft-sab-hub .ft-sab-location-carousel__container .ft-sab-location-carousel__item {
		min-height: 400px;
		padding: 60px 30px;
		margin: 0 30px
	}
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-underline-button {
	display: inline-block;
	padding: 5px
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-underline-button a {
	color: #000;
	background: 0 0;
	outline: 0;
	border: none;
	cursor: pointer;
	padding: 5px;
	font-size: 13px;
	font-family: abchanel-pb-m;
	text-decoration: none;
	transition: border .2s linear;
	border-bottom: 2px solid #ececec
}
.ft-sab-hub .ft-sab-location-carousel__container .ft-underline-button a:focus,
.ft-sab-hub .ft-sab-location-carousel__container .ft-underline-button a:hover {
	border-color: #000
}
.ft-sab-hub .ft-banner-gap {
	margin-bottom: 60px
}
.ft-sab-hub #bannerP {
	color: #000!important
}
.ft-sab-hub .ft-banner-text {
	display: flex;
	align-items: center;
	text-align: left;
	color: #000!important
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-col-6.ft-banner-text {
		width: 100%;
		padding-left: 10%;
		padding-right: 50%
	}
}
@media screen and (max-width: 600px) {
	.ft-sab-hub .ft-col-6.ft-banner-text {
		text-align: center!important;
		color: #1d1d1d!important
	}
	.ft-sab-hub #bannerP {
		color: #1d1d1d!important
	}
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-sab-hub__banner {
		height: 460px
	}
}
.ft-sab-hub #appointmentbooking {
	padding-top: 0
}
.ft-sab-hub .ft-reserve__panel {
	padding-top: 25px;
	padding-bottom: 25px;
	border: 1px solid #efefef;
	border-right: 0;
	border-left: 0
}
.ft-sab-hub .ft-reserve-checkbox__container {
	display: inline-block;
	margin-right: 40px
}
@media screen and (max-width: 600px) {
	.ft-sab-hub .ft-reserve-checkbox__container {
		margin-bottom: 9px
	}
}
.ft-sab-hub .ft-reserve-checkbox__container input[type=checkbox]:checked~label {
	font-weight: bolder
}
.ft-sab-hub .ft-reserve__result {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 16px;
	color: #333;
	text-align: right;
	margin-left: auto
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-reserve__result {
		text-align: left
	}
}
.ft-sab-hub .ft-reserve__spacer {
	height: 1px;
	background: #efefef;
	width: 100%;
	outline: 0;
	border: 0;
	margin: 30px 0
}
.ft-sab-hub .ft-sab-checkbox__label {
	font-family: abchanel-pb-m;
	font-family: ABChanelPBM;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #333
}
.ft-sab-hub .ft-sab-service {
	display: flex;
	transition: all .5s linear
}
.ft-sab-hub .ft-sab-service__details {
	margin-bottom: 27px
}
@media screen and (min-width: 600px) {
	.ft-sab-hub .ft-sab-service__details {
		margin-bottom: 0
	}
}
.is-using-keyboard button.ft-services-nav__item.ft-service-nav__item--active:focus {
	outline: 1px solid #000
}
.ft-sab-hub__factory-text {
	display: none
}
@media screen and (max-width: 960px) {
	.ft-sab-hub__factory-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: left
	}
}
.ft-sab-hub__factory-text_copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: right;
	position: absolute;
	color: #333333;
	top: 25%;
	right: 50px
}

.ft-sab-hub__factory-text_copy_right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	position: absolute;
	color: #333333;
	top: 25%;
	right: 50px
}
@media screen and (max-width: 1200px) {
	.ft-sab-hub__factory-text_copy {
		top: 15%
	}
}
@media screen and (max-width: 1030px) {
	.ft-sab-hub__factory-text_copy {
		top: 5%
	}
}
@media screen and (max-width: 960px) {
	.ft-sab-hub__factory-text_copy {
		display: none
	}
}
.ft-paragraph {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 300;
	color: #1d1d1d
}
.ft-paragraph_copy {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 300;
	color: grey
}