.ft-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 11px;
  max-width: 600px;
  margin: 0 auto
}

@media screen and (min-width: 600px) {
  .ft-row {
      max-width: 1440px;
      padding: 0 13.5px
  }
}

.ft-row .ft-col-half {
  width: 50%;
  padding: 0 9px
}

@media screen and (min-width: 600px) {
  .ft-row .ft-col-half {
      padding: 0 13.5px
  }
}

.ft-row .ft-col-full {
  width: 100%;
  padding: 0 9px
}

@media screen and (min-width: 600px) {
  .ft-row .ft-col-full {
      padding: 0 13.5px
  }
}

.ft-row .ft-col-1 {
  width: 16.66667%;
  padding: 0 9px
}

.ft-row .ft-col-sm-1 {
  width: 16.66667%;
  padding: 0 9px
}

.ft-row .ft-col-2 {
  width: 33.33333%;
  padding: 0 9px
}

.ft-row .ft-col-sm-2 {
  width: 33.33333%;
  padding: 0 9px
}

.ft-row .ft-col-3 {
  width: 50%;
  padding: 0 9px
}

.ft-row .ft-col-sm-3 {
  width: 50%;
  padding: 0 9px
}

.ft-row .ft-col-4 {
  width: 66.66667%;
  padding: 0 9px
}

.ft-row .ft-col-sm-4 {
  width: 66.66667%;
  padding: 0 9px
}

.ft-row .ft-col-5 {
  width: 83.33333%;
  padding: 0 9px
}

.ft-row .ft-col-sm-5 {
  width: 83.33333%;
  padding: 0 9px
}

.ft-row .ft-col-6 {
  width: 100%;
  padding: 0 9px
}

.ft-row .ft-col-sm-6 {
  width: 100%;
  padding: 0 9px
}

.ft-row .ft-col-7 {
  width: 116.66667%;
  padding: 0 9px
}

.ft-row .ft-col-sm-7 {
  width: 116.66667%;
  padding: 0 9px
}

.ft-row .ft-col-8 {
  width: 133.33333%;
  padding: 0 9px
}

.ft-row .ft-col-sm-8 {
  width: 133.33333%;
  padding: 0 9px
}

.ft-row .ft-col-9 {
  width: 150%;
  padding: 0 9px
}

.ft-row .ft-col-sm-9 {
  width: 150%;
  padding: 0 9px
}

.ft-row .ft-col-10 {
  width: 166.66667%;
  padding: 0 9px
}

.ft-row .ft-col-sm-10 {
  width: 166.66667%;
  padding: 0 9px
}

.ft-row .ft-col-11 {
  width: 183.33333%;
  padding: 0 9px
}

.ft-row .ft-col-sm-11 {
  width: 183.33333%;
  padding: 0 9px
}

.ft-row .ft-col-12 {
  width: 200%;
  padding: 0 9px
}

.ft-row .ft-col-sm-12 {
  width: 200%;
  padding: 0 9px
}

@media screen and (min-width: 600px) {
  .ft-row .ft-col-1 {
      width: 8.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-1 {
      width: 8.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-2 {
      width: 16.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-2 {
      width: 16.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-3 {
      width: 25%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-3 {
      width: 25%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-4 {
      width: 33.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-4 {
      width: 33.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-5 {
      width: 41.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-5 {
      width: 41.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-6 {
      width: 50%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-6 {
      width: 50%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-7 {
      width: 58.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-7 {
      width: 58.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-8 {
      width: 66.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-8 {
      width: 66.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-9 {
      width: 75%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-9 {
      width: 75%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-10 {
      width: 83.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-10 {
      width: 83.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-11 {
      width: 91.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-11 {
      width: 91.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-12 {
      width: 100%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-lg-12 {
      width: 100%;
      padding: 0 13.5px
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-row .ft-col-md-1 {
      width: 8.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-2 {
      width: 16.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-3 {
      width: 25%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-4 {
      width: 33.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-5 {
      width: 41.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-6 {
      width: 50%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-7 {
      width: 58.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-8 {
      width: 66.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-9 {
      width: 75%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-10 {
      width: 83.33333%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-11 {
      width: 91.66667%;
      padding: 0 13.5px
  }
  .ft-row .ft-col-md-12 {
      width: 100%;
      padding: 0 13.5px
  }
}

.ft-row .content {
  border: 3px dashed #767676;
  height: 54px;
  background: #a6d8f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center
}

.ft-center {
  display: flex;
  justify-content: center;
  margin: auto
}

.ft-row-space-between {
  display: flex;
  justify-content: space-between
}

.ft-row-end {
  display: flex;
  justify-content: flex-end
}

.ft-col-right {
  margin-left: auto
}

.ft-col-left {
  margin-right: auto
}

.ft-col-center {
  margin: 0 auto
}

.ft-row-space-around {
  justify-content: space-around
}

.ft-row-space-evenly {
  justify-content: space-evenly
}

.ft-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ft-grow {
  flex-grow: 1
}

.ft-h1 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 25px;
  line-height: 31px
}

@media screen and (min-width: 600px) {
  .ft-h1 {
      font-size: 30px;
      line-height: 36px
  }
}

@media screen and (min-width: 960px) {
  .ft-h1 {
      font-size: 40px;
      line-height: 45px
  }
}

.ft-h2 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 20px;
  line-height: 27px
}

@media screen and (min-width: 600px) {
  .ft-h2 {
      font-size: 30px;
      line-height: 36px
  }
}

@media screen and (min-width: 960px) {
  .ft-h2 {
      font-size: 30px;
      line-height: 36px
  }
}

.ft-h3 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 16px;
  line-height: 23px
}

@media screen and (min-width: 600px) {
  .ft-h3 {
      font-size: 25px;
      line-height: 31px
  }
}

@media screen and (min-width: 960px) {
  .ft-h3 {
      font-size: 25px;
      line-height: 31px
  }
}

.ft-h4 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 16px;
  line-height: 23px
}

.ft-h5 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 16px;
  line-height: 23px
}

.ft-h6 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 14px;
  line-height: 20px
}

.ft-h7 {
  font-family: abchanel-pb-m;
  color: #fff;
  font-size: 10px;
  line-height: 18px
}

.ft-text-center {
  text-align: center;
  margin:auto;
}

.ft-underline {
  text-decoration: underline;
}

.ft-paragraph {
  font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #fff
}

.ft-text-bold {
  font-weight: 700
}

.ft-gap-extra-large {
  margin-bottom: 63px
}

@media screen and (min-width: 600px) {
  .ft-gap-extra-large {
      margin-bottom: 90px
  }
}

.ft-gap-large {
  margin-bottom: 54px
}

@media screen and (min-width: 600px) {
  .ft-gap-large {
      margin-bottom: 72px
  }
}

.ft-gap-medium {
  margin-bottom: 27px
}

@media screen and (min-width: 600px) {
  .ft-gap-medium {
      margin-bottom: 54px
  }
}

.ft-gap-small {
  margin-bottom: 18px
}

@media screen and (min-width: 600px) {
  .ft-gap-small {
      margin-bottom: 25px
  }
}

.ft-gap-extra-small {
  margin-bottom: 18px
}

.ft-gap-tiny {
  margin-bottom: 9px
}

.ft-gap-extra-tiny {
  margin-bottom: 5px
}

.ft-bottom-padding-large {
  padding-bottom: 54px
}

@media screen and (min-width: 600px) {
  .ft-bottom-padding-large {
      padding-bottom: 72px
  }
}

.ft-top-padding-large {
  padding-top: 54px
}

@media screen and (min-width: 600px) {
  .ft-top-padding-large {
      padding-top: 72px;
      margin: auto
  }
}

.ft-top-padding-medium {
  padding-top: 54px
}

.ft-bottom-border {
  border-bottom: 1px solid #ececec
}

.ft-top-border {
  border-top: 1px solid #ececec
}

.ft-top-border-dark {
  border-top: 1px solid #000
}

.ft-button-white {
  font-family: abchanel-pb-m;
  font-size: 11px;
  width: 100%;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  cursor: pointer
}

.ft-button-black {
  font-family: abchanel-pb-m;
  width: 100%;
  font-size: 11px;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #fff;
  padding: 18px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  cursor: pointer
}

.ft-links-button {
  font-family: abchanel-pb-m;
  border: 2px solid transparent;
  border-bottom-color: #ececec;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: inline-block;
  padding: 18px 0 7px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  vertical-align: middle;
  line-height: 16px;
  cursor: pointer;
  outline: 0;
  background: 0 0;
  text-align: center
}

.ft-link-underline {
  font-weight: inherit;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  background: 0 0;
  cursor: pointer;
  border: 0;
  color: inherit
}

.showMobile {
  display: block
}

@media screen and (min-width: 600px) {
  .showMobile {
      display: none
  }
}

.showIpad {
  display: none
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .showIpad {
      display: block
  }
}

.showDesktop {
  display: none
}

@media screen and (min-width: 960px) {
  .showDesktop {
      display: block
  }
}

.hideDesktop {
  display: block
}

@media screen and (min-width: 960px) {
  .hideDesktop {
      display: none
  }
}

.hideMobile {
  display: none
}

@media screen and (min-width: 600px) {
  .hideMobile {
      display: block
  }
}

.ft-input {
  position: relative;
  padding: 5px 0
}

.ft-input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1
}

.ft-input input {
  background: 0 0;
  outline: 0;
  border: 0;
  margin-top: 5px;
  transition: all .4s linear
}

.ft-input input:focus+label {
  transform: scale(.7);
  transform-origin: left top;
  color: #7b5353;
  transition: all .4s linear;
  top: 0;
  left: 0
}

.ft-input input:not(:placeholder-shown)+label {
  top: 0;
  left: 0;
  transform: scale(.7);
  transform-origin: left top;
  transition: all .4s linear
}

.ft-input input::placeholder {
  opacity: 0
}


.ft-input hr {
  position: relative;
  background: #d3d3d3;
  height: 1px;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0
}

@keyframes borderwidth {
  from {
      width: 0
  }
  to {
      width: 100%
  }
}

@keyframes borderwidthBack {
  from {
      border: 2px solid #000;
      width: 100%
  }
  to {
      border: 0 solid #000;
      width: 0
  }
}

.ft-parent-container {
  padding-bottom: 50px;
  background-color: #000;
  color: #fff;
}

.ft-parent-container .ft-appt--text {
  padding: 28px 0 0;
  margin-bottom: 27px;
  border: 1px solid #ececec
}

@media screen and (max-width: 600px) {
  .ft-parent-container .ft-appt--text {
      margin-bottom: 0
  }
}

.ft-parent-container .image-place-holder {
  width: 100%;
  height: 150px;
  background: #f2f2f2;
  margin-bottom: 18px
}

.ft-parent-container .ft-block {
  display: block;
  margin: 9px 16px
}

.ft-parent-container .ft-4px-border {
  border-bottom: 4px solid #000;
  margin: 0 auto
}

.ft-parent-container .ft-brickwork-widget button {
  font-family: abchanel-pb-m;
  font-size: 11px;
  font-weight: 600;
  width: 100%;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #fff;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  background-color: #000;
  color: #fff;
  cursor: pointer
}

.ft-parent-container h1+p.ft-paragraph {
  color: #767676;
  margin-top: 12px
}

.ft-parent-container .ft-subtitle {
  color: #767676;
  font-size: 10px
}

.ft-parent-container .sub-heading {
  font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 23px;
  text-transform: capitalize
}