.ft-parent-container
    .ft-row.ft-top-padding-medium
        .ft-col-full
            h1.ft-h1.ft-text-center.ft-text-bold N°5 IN THE STARS
        .ft-col-full.ft-text-center
            h2.ft-h6.ft-text-center Celebrate 100 years of an icon
    .ft-gap-large
    .ft-row.ft-center
        .ft-col-lg-4.ft-col-md-6.ft-col-sm-6.ft-text-center.ft-gap-medium
            .ft-appt-container
                img(src='https://www.chanel.com/emea/img//prd-emea/sys-master/content/h8e/he7/9417777479710-n5-rock-center-event-image.png')
    .ft-col-lg-4.ft-col-md-6.ft-col-sm-6.ft-text-center.ft-gap-medium.ft-column
            .ft-appt-container
                h2.ft-h6.ft-text-center.ft-gap-small November 6 – 12 
                h2.ft-h6.ft-text-center.ft-gap-small Rockefeller Center
                h2.ft-h6.ft-text-center.ft-gap-small #N5INTHESTARS
                p.ft-paragraph.ft-gap-medium Enter the world of N°5. Immerse yourself in the history of the revolutionary fragrance, discover the 5 unique interpretations and enjoy surprises throughout the space.
