.ft-product-header
    img(src=moisturizersDesktopImage, alt="", width="100%")


.ft-gap-extra-large

.ft-row.ft-space
    .ft-col-5
        img(src=image141256, alt="", width="100px")
        h2.ft-h4 ${freeTextProducts.product_141256.name}
        p.ft-paragraph !{description141256}
        p.ft-paragraph !{price141256}
        button.ft-links-button !{price141256}
