${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-parent-container ft-entire-sreen ft-top-padding-medium-rock-offset" id="rock-center-detail">
    <div class="ft-parent-container-wrapper">
        <div class="ft-row ft-top-padding-medium-rock">
            <div class="ft-col-full">
                <h1 class="ft-h1 ft-text-center ft-gap-tiny ft-text-bold">THE HISTORY</h1>
            </div>
            <div class="ft-col-full ft-text-center ft-tiny-max-width">
                <h2 style="justify-content: center;"
                    class=" ft-row .ft-col-9-normal ft-col-center ft-paragraphft-text-center">Learn about the creation
                    of
                    the legendary fragrance—from the unprecedented
                    composition to the groundbreaking bottle—and its enduring allure with celebrities and artists alike.
                </h2>
            </div>
        </div>
        <div class="ft-gap-medium"></div>
        <div class="ft-row ft-top-padding-medium ft-gap-small ft-info-text-desktop">
            <div class="ft-col-full">
                <h1 class="ft-h2 ft-text-center ft-gap-tiny ft-text-bold">A REVOLUTION FOR THE SENSES</h1>
            </div>
            <div class="ft-col-full ft-text-center ft-small-max-width">
                <h2 class="ft-h6 ft-row .ft-col-9-normal ft-col-center ft-text-center">“I wanted to give her a perfume,
                    but
                    an artificial perfume. I insist on
                    artificiality, just as a dress is artificial, fabricated. I am a fashion artisan. I don’t want rose
                    or
                    lily of the valley; I want a perfume that is a compound.”
                    <br>
                    <br>—&nbsp;Gabrielle Chanel
                </h2>
            </div>
        </div>
        <div class="ft-row ft-center">
            <div class="ft-col-lg-8 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                <div class="ft-appt-container">
                    <div class="video-container">
                        <div id="REVOLUTION_FOR_SENSES" class="akamai-media-player akamai-responsive rock-center-video-text_black"
                            data-video="6277933057001">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-info-text-mobile">
                <div class="ft-col-full">
                    <h1 class="ft-h2 ft-text-start  ft-gap-tiny ft-text-bold">A REVOLUTION FOR THE SENSES</h1>
                </div>
                <div>
                    <h2 class="ft-h6 ft-row .ft-col-9-normal ft-col-center ft-text-start ">“I wanted to give her a
                        perfume,
                        but
                        an artificial perfume. I insist on
                        artificiality, just as a dress is artificial, fabricated. I am a fashion artisan. I don’t want
                        rose
                        or
                        lily of the valley; I want a perfume that is a compound.”
                        <br>
                        —&nbsp;Gabrielle Chanel
                        <br> <br>
                    </h2>
                </div>
            </div>
            <div
                class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-center ft-flex-dir-col">
                <input class="ft-revolution-input" type="checkbox" id="readmore_revolution" />
                <div class="ft-appt-container ft-revolution-inner ">
                    <p class="ft-paragraph ft-text-start ft-gap-tiny">
                        1921. Gabrielle Chanel meets with Ernest Beaux, perfumer to the tsars. Mademoiselle declares
                        that
                        she wants to create “a woman’s perfume, with a woman’s scent,” in line with her vision of
                        fashion
                        and femininity. Defying the conventions of the era’s fragrances, which rely heavily on single
                        flowers, Mademoiselle encourages Beaux to be audacious and add more jasmine—the most precious of
                        essences—ylang-ylang and rose for a perfume with a dazzling floral richness.
                        <br><br>
                        He uses aldehydes, synthetic components, to enhance the fragrance and add layers of complexity,
                        making it even more mysterious. The result is an olfactory symphony with no dominant note, a
                        masterpiece with an unprecedented abstract construction. These principles of paradox create the
                        grammatic pillars of CHANEL style. The first scent by a woman couturier carrying the label that
                        bears her name, N°5 is an immediate success and remains, to this day, the bestselling fragrance
                        in
                        modern perfumery.
                    </p>
                </div>
                <div
                    class="ft-revolution ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-v-center">
                    <div class="ft-rock-center-btn-read-more">
                        <label for="readmore_revolution"
                            class="ft-h6  ft-revolution-label ft-text-bold ft-underline-white">
                            Read
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft-gap-medium"></div>
        <div class="ft-row ft-top-padding-medium ft-gap-small ft-info-text-desktop">
            <div class="ft-col-full">
                <h1 class="ft-h2 ft-text-center ft-gap-tiny ft-text-bold">THE BOTTLE THAT BROKE GROUND</h1>
            </div>
            <div class="ft-col-full ft-text-center ">
                <h2 class="ft-h6 ft-text-center">“Elegance is being as beautiful on the inside as on the outside.”
                    <br><br>
                    —&nbsp;Gabrielle Chanel
                </h2>
            </div>
        </div>
        <div class="ft-row ft-center">

            <div class="ft-col-lg-8 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                <div class="ft-appt-container">
                    <div class="video-container">
                        <div id="THE_BOTTLE_THAT_BROKE_GROUND" class="akamai-media-player akamai-responsive rock-center-video-text_white"
                            data-video="6277941493001">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-info-text-mobile">
                <div class="ft-col-full">
                    <h1 class="ft-h2 ft-text-start ft-gap-tiny ft-text-bold">THE BOTTLE THAT BROKE GROUND</h1>
                </div>
                <div
                    class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-flex-dir-col ft-v-center">
                    <h2 class="ft-h6 ft-text-start">“Elegance is being as beautiful on the inside as on the outside.”
                        <br>
                        —&nbsp;Gabrielle Chanel
                    </h2>
                </div>
            </div>
            <div
                class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-flex-dir-col ft-center">
                <input class="ft-icons-input" type="checkbox" id="readmore_icons" />
                <div class="ft-appt-container ft-icons-inner ">
                    <p class="ft-paragraph ft-text-start ft-gap-tiny">Pure, minimalistic, austere—the shape of the N°5
                        bottle is instantly
                        recognizable. Mademoiselle presents the perfume in a radically simple laboratory flacon—a
                        rectangular vessel made of transparent glass that reveals the golden composition inside.
                        <br><br>
                        The stopper, originally a small square, marks the first appearance of the now-iconic double C
                        monogram, which is engraved on its top. In 1924, the stopper evolves to the faceted emerald-cut
                        shape that recalls the geometry and proportions of Place Vendôme in Paris, home to the Ritz
                        hotel,
                        where Mademoiselle later lived. A standout from the mannered bottles of the 1920s, this
                        singularly
                        elegant and clean silhouette continues to evolve while staying true to its heritage, rendering
                        it
                        timeless.
                    </p>
                </div>
                <div
                    class="ft-icons ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-v-center">
                    <div class="ft-rock-center-btn-read-more">
                        <label for="readmore_icons" class="ft-h6  ft-icons-label ft-text-bold ft-underline-white">
                            Read
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft-gap-medium"></div>
        <div class="ft-row ft-top-padding-medium ft-gap-small ft-info-text-desktop">
            <div class="ft-col-full">
                <h1 class="ft-h2 ft-text-center ft-gap-tiny ft-text-bold">A HOUSE OF NUMBERS</h1>
            </div>
            <div class="ft-col-full ft-text-center ">
                <h2 class="ft-h6 ft-text-center">“Number 5, my lucky number. It will be CHANEL N°5.”
                    <br><br>
                    —&nbsp;Gabrielle Chanel
                </h2>
            </div>
        </div>
        <div class="ft-row ft-center">
            <div class="ft-col-lg-8 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                <div class="ft-appt-container">
                    <div class="video-container">
                        <div id="A_HOUSE_OF_NUMBERS" class="akamai-media-player akamai-responsive rock-center-video-text_black"
                            data-video="6277933556001">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-info-text-mobile">
                <div class="ft-col-full">
                    <h1 class="ft-h2 ft-text-start ft-gap-tiny ft-text-bold">A HOUSE OF NUMBERS</h1>
                </div>
                <div
                    class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-flex-dir-col ft-v-center">
                    <h2 class="ft-h6 ft-text-start">“Number 5, my lucky number. It will be CHANEL N°5.”
                        <br>
                        —&nbsp;Gabrielle Chanel
                    </h2>
                </div>
            </div>
            <div
                class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium  ft-column ft-center ft-flex-dir-col">
                <input class="ft-house-input" type="checkbox" id="readmore_house" />
                <div class="ft-appt-container ft-house-inner ">
                    <p class="ft-paragraph  ft-text-start ft-gap-tiny">Mademoiselle believes in the power of numbers.
                        Throughout her life,
                        they guide her decisions and bring her good luck. Out of the 10 scents Ernest Beaux composes for
                        her, she chooses the 5th sample for N°5. When asked, “What will you call your new fragrance?”
                        Mademoiselle answers, “I present my dress collections on the 5th of May, the 5th month of the
                        year,
                        and so we will let this sample number 5 keep the name it has already.”
                        <br><br>
                        With a name like an identification number—modern and easy to remember—it breaks with the
                        sentimental
                        perfumes of the time, making them seem instantly out of date. N°5 paves the way for the numbered
                        names of the emblematic creations that follow, which reference important dates, moments and
                        achievements in Mademoiselle’s life. It marks the start of a unique universe of numerals that
                        continues to inspire the House today.
                    </p>
                </div>
                <div
                    class="ft-house ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-v-center">
                    <div class="ft-rock-center-btn-read-more">
                        <label for="readmore_house" class="ft-h6  ft-house-label ft-text-bold ft-underline-white">
                            Read
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="ft-gap-medium"></div>
        <div class="ft-row ft-top-padding-medium ft-gap-small ft-info-text-desktop">
            <div class="ft-col-full">
                <h1 class="ft-h2 ft-text-center ft-gap-tiny ft-text-bold">ICONS FOR AN ICON</h1>
            </div>
            <div class="ft-col-full ft-text-center ">
                <h2 class="ft-h6 ft-text-center">Every woman alive loves CHANEL N°5.
                </h2>
            </div>
        </div>
        <div class="ft-row ft-center">
            <div class="ft-col-lg-8 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                <div class="ft-appt-container">
                    <div class="video-container">
                        <div id="ICONS_FOR_AN_ICON" class="akamai-media-player akamai-responsive rock-center-video-text_white"
                            data-video="6277942357001">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-info-text-mobile">
                <div class="ft-col-full">
                    <h1 class="ft-h2 ft-text-start ft-gap-tiny ft-text-bold">ICONS FOR AN ICON</h1>
                </div>
                <div
                    class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-flex-dir-col ft-v-center">
                    <h2 class="ft-h6 ft-text-start">Every woman alive loves CHANEL N°5.
                    </h2>
                </div>
            </div>
            <div id="THE_BOTTLE_THAT_BROKE_GROUND__TEXT"
                class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-center ft-flex-dir-col">
                <input class="ft-the-bottle-input" type="checkbox" id="readmore_the_bottle" />
                <div class="ft-appt-container ft-the-bottle-inner">
                    <p class="ft-paragraph ft-text-start ft-gap-tiny">The most well-known fragrance in the world,
                        beloved by
                        celebrities
                        since its creation, N°5 takes its place among the stars of the 20th century.
                        <br><br>
                        <b>1952:</b> Marilyn Monroe is featured on the cover of <i>LIFE</i> magazine at the height of her fame. In the
                        interview, she reveals that all she wears to bed is N°5, catapulting the fragrance from French
                        symbol to legend.<br>
                        <b>1953:</b> During a shoot for <i>Modern Screen</i> magazine, Marilyn is photographed lying in her bed, a
                        bottle
                        of N°5 on her nightstand in each frame.<br>
                        <b>1959:</b> The Museum of Modern Art in New York City honors the scent’s packaging for its minimalist
                        elegance.<br>
                        <b>1965:</b> Then-unknown American actress Ali MacGraw becomes the face of the fragrance. The ad
                        campaign
                        launches her career.<br>
                        <b>1985:</b> Ever an inspiration to artists, the bottle is depicted in a series of silk-screen prints
                        by
                        Andy Warhol. <br>
                        <b>2021:</b> CHANEL celebrates 100 years of N°5 with limited-edition creations and a celestial campaign
                        starring actress Marion Cotillard.
                        <br><br>
                        Over these decades and beyond today, N°5 breaks the codes to become the perfume of perfumes—an
                        icon
                        forever.
                    </p>
                </div>
                <div
                    class="ft-the-bottle  ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium ft-column ft-v-center">
                    <div class="ft-rock-center-btn-read-more">
                        <label for="readmore_the_bottle" id="THE_BOTTLE_THAT_BROKE_GROUND__MORE"
                            class="ft-h6  ft-the-bottle-label ft-text-bold ft-underline-white">
                            Read
                        </label>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>
<script type="text/javascript">

    function jqueryLoaded() {
        $(function () {
            // Instance the player
            var moodboardVideoContainer_black = $("#rock-center-detail .rock-center-video-text_black");
            var moodboardVideoContainer_white= $("#rock-center-detail  .rock-center-video-text_white");
            var videoPlayersList = [];

            function playAMPVideo_black(videoTarget) {
                var videoId = videoTarget.attr("id"),
                    videolink = videoTarget.data("video");
                //videoSize = videoTarget.data('config-autosize');
                //videoCover = videoTarget.data('cover');
                var config = {
                    autoSized: true,
                    loader: {
                        type: "default",
                    },
                    playButtonText: "see the film",
                    playButtonStyle: "text",
                    playbutton: {
                        color: "black",
                        position: ""
                    },
                    analytics: true,
                    captioning: {
                        enabled: true,
                        defaultLang: "en",
                    },
                    hls: {
                        resources: [
                            {
                                type: "text/javascript",
                                src: "https://amp.chanel.com/bundles/app/resources/js/hls.min.js",
                            },
                        ],
                        quality: {
                            startLevel: 4,
                        },
                    },
                    resources: [
                        {
                            src: "https://amp.chanel.com/bundles/app/dist/css/theme.css",
                            type: "text/css",
                        },
                        {
                            src: "https://amp.chanel.com/bundles/app/amp/amp.premier.css",
                            type: "text/css",
                        },
                    ],
                    paths: {
                        player: "https://amp.chanel.com/bundles/app/amp/",
                        resources: "https://amp.chanel.com/bundles/app/resources/",
                    },
                };

                /* Instance the player */
                player = new Channel_player();
                player.create(videoId, config, videolink, "6057940566001");
                videoPlayersList.push(player);
            }


            function playAMPVideo_white(videoTarget) {
                var videoId = videoTarget.attr("id"),
                    videolink = videoTarget.data("video");
                //videoSize = videoTarget.data('config-autosize');
                //videoCover = videoTarget.data('cover');
                var config = {
                    autoSized: true,
                    loader: {
                        type: "default",
                    },
                    playButtonText: "see the film",
                    playButtonStyle: "text",
                    playbutton: {
                        color: "white",
                        position: ""
                    },
                    analytics: true,
                    captioning: {
                        enabled: true,
                        defaultLang: "en",
                    },
                    hls: {
                        resources: [
                            {
                                type: "text/javascript",
                                src: "https://amp.chanel.com/bundles/app/resources/js/hls.min.js",
                            },
                        ],
                        quality: {
                            startLevel: 4,
                        },
                    },
                    resources: [
                        {
                            src: "https://amp.chanel.com/bundles/app/dist/css/theme.css",
                            type: "text/css",
                        },
                        {
                            src: "https://amp.chanel.com/bundles/app/amp/amp.premier.css",
                            type: "text/css",
                        },
                    ],
                    paths: {
                        player: "https://amp.chanel.com/bundles/app/amp/",
                        resources: "https://amp.chanel.com/bundles/app/resources/",
                    },
                };

                /* Instance the player */
                player = new Channel_player();
                player.create(videoId, config, videolink, "6057940566001");
                videoPlayersList.push(player);
            }


            moodboardVideoContainer_white.each(function () {
                var containerVideo = $(this);
                playAMPVideo_white(containerVideo);
            });
            moodboardVideoContainer_black.each(function () {
                var containerVideo = $(this);
                playAMPVideo_black(containerVideo);
            });
        });
    }


    function checkJquery() {
        if (window.jQuery) {
            jqueryLoaded();
        } else {
            window.setTimeout(checkJquery, 100);
        }
    }
    checkJquery();
</script>