${freetextcss}
<div style="background-color: black; height: 120px;color: white; " class="ft-appt-container ">
   <h2 class="ft-h1 ft-text-center ft-text-bold">
      <a href="/us/">
         <svg aria-hidden="true" class="logo ft-scale-small" data-test="imgLogo" focusable="false" height="28"
            width="175" viewBox="0 0 175 28">
            <g fill="#fff" fill-rule="evenodd">
               <path
                  d="M20.655 17.726l4.565 2.615c-2.282 4.197-6.737 6.922-11.781 6.922C6.075 27.263 0 21.629 0 13.713S6.075.163 13.439.163c5.044 0 9.5 2.725 11.781 6.923L20.655 9.7c-1.326-2.725-4.013-4.381-7.216-4.381-4.603 0-8.1 3.423-8.1 8.394s3.497 8.395 8.1 8.395c3.203 0 5.89-1.657 7.216-4.382M49.705 26.6V15.554H36.818V26.6h-5.154V.826h5.154V10.4h12.887V.826h5.155V26.6h-5.155M79.603 15.922L74.926 5.061 70.25 15.922h9.353zM89.838 26.6h-5.634l-2.54-5.892H68.188l-2.54 5.892h-5.634L71.428.826h6.996L89.838 26.6zM113.586 26.6L99.778 6.313V26.6h-4.786V.826h6.812l11.598 17.084V.826h4.787V26.6h-4.603M128.129 26.6V.826h18.41v4.787h-13.624v5.523h11.782v4.786h-11.782v5.892h14.36V26.6h-19.146M155.56 26.6V.826h5.154v20.62h13.622V26.6H155.56">
               </path>
            </g>
         </svg>
      </a>
   </h2>
   <h2 class="ft-h7 ft-text-center">
      <a href="/us/"> visit chanel.com</a>
   </h2>
</div>