${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div style=" position: fixed;
z-index: 9999;
width: 100%;">
   <div class="ft-header-container-rock  ft-h1 ft-text-center ft-text-bold">
      <a href="/us/">
         <svg aria-hidden="true" class="logo ft-scale-small" data-test="imgLogo" focusable="false" height="28"
            width="175" viewBox="0 0 175 28">
            <g fill="#fff" fill-rule="evenodd">
               <path
                  d="M20.655 17.726l4.565 2.615c-2.282 4.197-6.737 6.922-11.781 6.922C6.075 27.263 0 21.629 0 13.713S6.075.163 13.439.163c5.044 0 9.5 2.725 11.781 6.923L20.655 9.7c-1.326-2.725-4.013-4.381-7.216-4.381-4.603 0-8.1 3.423-8.1 8.394s3.497 8.395 8.1 8.395c3.203 0 5.89-1.657 7.216-4.382M49.705 26.6V15.554H36.818V26.6h-5.154V.826h5.154V10.4h12.887V.826h5.155V26.6h-5.155M79.603 15.922L74.926 5.061 70.25 15.922h9.353zM89.838 26.6h-5.634l-2.54-5.892H68.188l-2.54 5.892h-5.634L71.428.826h6.996L89.838 26.6zM113.586 26.6L99.778 6.313V26.6h-4.786V.826h6.812l11.598 17.084V.826h4.787V26.6h-4.603M128.129 26.6V.826h18.41v4.787h-13.624v5.523h11.782v4.786h-11.782v5.892h14.36V26.6h-19.146M155.56 26.6V.826h5.154v20.62h13.622V26.6H155.56">
               </path>
            </g>
         </svg>
      </a>
   </div>
   <nav class="rock-center-nav  rock-center-tab-mobile border-bottom: 1px solid #35353d">
      <input type="checkbox" id="click"></input>
      <div class="ft-tab">
         <label for="click" class="menu-btn">
            <p style="color: white;" class="ft-h6  ft-text-bold">
               N°5 IN THE STARS
            </p>
            <i class="fas fa-bars"></i>
            <svg class="icon" focusable="false" viewBox="0 0 1 1" aria-hidden="true">
               <use xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next-thin"></use>
            </svg>
         </label>
      </div>
      <ul>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/"><button class="
                   ft-rock-center__nav-item
                   
                   ft-h7  ft-text-bold
                 " data-section="#home" id="home">
                  home
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/map/"><button class="ft-h7  ft-text-bold
            ft-underline__active
                  ft-rock-center__nav-item" data-section="#map" id="map">
                  map
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/the-evolution/"><button
                  class="ft-h7     ft-text-bold ft-rock-center__nav-item" data-section="#evolution" id="evolution">
                  the evolution
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/the-history/"><button
                  class="ft-h7     ft-text-bold ft-rock-center__nav-item" data-section="#history" id="history">
                  the history
               </button></a></li>
      </ul>
   </nav>
   <div class="ft-tab-desktop ft-rock-center__tabs rock-center-tab-desktop">
      <div class="ft-row ft-start" id="stickyTabs">
         <ul class="ft-rock-center__nav-list">
            <li class="ft-rock-center__nav-li">
               <a  href="/us/fragrance/n5-in-the-stars-guide/"><button   class="
                  ft-rock-center__nav-item
                
                " data-section="#home" id="home">
                N°5 IN THE STARS
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/map/"><button
                     class="ft-rock-center__nav-item   ft-rock-center__nav-item--active " data-section="#map" id="map">
                     map
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/the-evolution/"><button class="ft-rock-center__nav-item  "
                     data-section="#evolution" id="evolution">
                     the evolution
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/the-history/"><button class="ft-rock-center__nav-item "
                     data-section="#history" id="history">
                     the history
                  </button></a>
            </li>
         </ul>
      </div>
   </div>
</div>