${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-parent-container ft-entire-sreen ft-top-padding-medium-rock-offset">
    <div class="ft-row ft-top-padding-medium-rock">
        <div class="ft-col-full">
            <h1 class="ft-h1 ft-text-center ft-text-bold">N°5 IN THE STARS </h1>
        </div>
        <div class="ft-col-full ft-text-center ">
            <h2 class="ft-h6 ft-text-center">Celebrate 100 years of an icon</h2>
        </div>
    </div>
    <div class="ft-gap-medium"></div>
    <div class="ft-row ft-center">
        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
            <div class="ft-appt-container">
                <img src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/hfb/h80/9435714486302-Image.png"  >
            </div>
        </div>
        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-column">
            <div class="ft-appt-container ">
                <p class="ft-paragraph ft-gap-tiny">Enter the world of N°5. Immerse yourself in the history of the
                    revolutionary fragrance, discover the 5 unique interpretations and enjoy surprises throughout the
                    space.
                </p>
                <h2 class="ft-h6 ft-text-center ft-gap-small">November 6 – 12 <br /> 11 AM – 8 PM</h2>
                <a href="/us/fragrance/n5-in-the-stars-guide/map/" class="ft-gap-extra-small ft-border-white">
                    <h2 class="ft-h7 ft-text-center">map</h2>
                </a>
                <a href="/us/fragrance/n5-in-the-stars-guide/the-evolution/" class="ft-gap-extra-small ft-border-white">
                    <h2 class="ft-h7 ft-text-center ">the evolution</h2>
                </a>
                <a href="/us/fragrance/n5-in-the-stars-guide/the-history/" class="ft-gap-extra-small ft-border-white">
                    <h2 class="ft-h7 ft-text-center ">THE HISTORY</h2>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function jqueryLoaded() {
        $(function () {
            // Instance the player
            var moodboardVideoContainer = $("#BACKGROUND_BOTTLE");
            var videoPlayersList = [];

            function playAMPVideo(videoTarget) {
                var videoId = videoTarget.attr("id"),
                    videolink = videoTarget.data("video");
                //videoSize = videoTarget.data('config-autosize');
                //videoCover = videoTarget.data('cover');
                var config = {
                    autoSized: true,
                    playbutton: {
                        position: "center",
                        color : "black",
                    },
                    autoplay: true,
                    loop:true,
                    muted: true,
                    controls: false,
                    loader: {
                        type: "default",
                    },
                    asBackground: true,
                    analytics: true,
                    captioning: {
                        enabled: true,
                        defaultLang: "en",
                    },
                    hls: {
                        resources: [
                            {
                                type: "text/javascript",
                                src: "https://amp.chanel.com/bundles/app/resources/js/hls.min.js",
                            },
                        ],
                        quality: {
                            startLevel: 4,
                        },
                    },
                    resources: [
                        {
                            src: "https://amp.chanel.com/bundles/app/dist/css/theme.css",
                            type: "text/css",
                        },
                        {
                            src: "https://amp.chanel.com/bundles/app/amp/amp.premier.css",
                            type: "text/css",
                        },
                    ],
                    paths: {
                        player: "https://amp.chanel.com/bundles/app/amp/",
                        resources: "https://amp.chanel.com/bundles/app/resources/",
                    },
                };

                /* Instance the player */
                player = new Channel_player();
                player.create(videoId, config, videolink, "6057940566001");
                videoPlayersList.push(player);
            }

            moodboardVideoContainer.each(function () {
                var containerVideo = $(this);
                playAMPVideo(containerVideo);
            });
        });
    }


    function checkJquery() {
        if (window.jQuery) {
            jqueryLoaded();
        } else {
            window.setTimeout(checkJquery, 100);
        }
    }
    checkJquery();

    
</script>