.ft-row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 11px;
	max-width: 600px;
	margin: 0 auto
}
.ft-row .ft-col-half {
	width: 50%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-half {
		padding: 0 13.5px
	}
}
.ft-row .ft-col-full {
	width: 100%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-full {
		padding: 0 13.5px
	}
}
.ft-row .ft-col-1 {
	width: 16.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-1 {
	width: 16.66667%;
	padding: 0 9px
}
.ft-row .ft-col-2 {
	width: 33.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-2 {
	width: 33.33333%;
	padding: 0 9px
}
.ft-row .ft-col-3 {
	width: 50%;
	padding: 0 9px
}
.ft-row .ft-col-sm-3 {
	width: 50%;
	padding: 0 9px
}
.ft-row .ft-col-4 {
	width: 66.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-4 {
	width: 66.66667%;
	padding: 0 9px
}
.ft-row .ft-col-5 {
	width: 83.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-5 {
	width: 83.33333%;
	padding: 0 9px
}
.ft-row .ft-col-6 {
	width: 100%;
	padding: 0 9px
}
.ft-row .ft-col-sm-6 {
	width: 100%;
	padding: 0 9px
}
.ft-row .ft-col-7 {
	width: 116.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-7 {
	width: 116.66667%;
	padding: 0 9px
}
.ft-row .ft-col-8 {
	width: 133.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-8 {
	width: 133.33333%;
	padding: 0 9px
}
.ft-row .ft-col-9 {
	width: 150%;
	padding: 0 9px
}
.ft-row .ft-col-sm-9 {
	width: 150%;
	padding: 0 9px
}
.ft-row .ft-col-10 {
	width: 166.66667%;
	padding: 0 9px
}
.ft-row .ft-col-sm-10 {
	width: 166.66667%;
	padding: 0 9px
}
.ft-row .ft-col-11 {
	width: 183.33333%;
	padding: 0 9px
}
.ft-row .ft-col-sm-11 {
	width: 183.33333%;
	padding: 0 9px
}
.ft-row .ft-col-12 {
	width: 200%;
	padding: 0 9px
}
.ft-row .ft-col-sm-12 {
	width: 200%;
	padding: 0 9px
}
@media screen and (min-width: 600px) {
	.ft-row .ft-col-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-12 {
		width: 100%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-lg-12 {
		width: 100%;
		padding: 0 13.5px
	}
}
@media screen and (min-width: 600px) and (max-width: 960px) {
	.ft-row .ft-col-md-1 {
		width: 8.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-2 {
		width: 16.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-3 {
		width: 25%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-4 {
		width: 33.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-5 {
		width: 41.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-6 {
		width: 50%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-7 {
		width: 58.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-8 {
		width: 66.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-9 {
		width: 75%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-10 {
		width: 83.33333%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-11 {
		width: 91.66667%;
		padding: 0 13.5px
	}
	.ft-row .ft-col-md-12 {
		width: 100%;
		padding: 0 13.5px
	}
}
.ft-row .content {
	border: 3px dashed #767676;
	height: 54px;
	background: #a6d8f2;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center
}
.ft-center {
	display: flex;
	justify-content: center
}
.ft-start {
	display: flex;
	justify-content: flex-start
}
.ft-v-center {
	display: flex;
	align-items: center
}
.ft-row-space-between {
	display: flex;
	justify-content: space-between
}
.ft-row-end {
	display: flex;
	justify-content: flex-end
}
.ft-col-right {
	margin-left: auto
}
.ft-col-left {
	margin-right: auto
}
.ft-col-center {
	margin: 0 auto
}
.ft-row-space-around {
	justify-content: space-around
}
.ft-row-space-evenly {
	justify-content: space-evenly
}
.ft-grow {
	flex-grow: 1
}
.ft-h1 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 25px;
	line-height: 31px
}
@media screen and (min-width: 600px) {
	.ft-h1 {
		font-size: 30px;
		line-height: 36px
	}
}
@media screen and (min-width: 960px) {
	.ft-h1 {
		font-size: 40px;
		line-height: 45px
	}
}
.ft-h2 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 20px;
	line-height: 27px
}
@media screen and (min-width: 600px) {
	.ft-h2 {
		font-size: 30px;
		line-height: 36px
	}
}
@media screen and (min-width: 960px) {
	.ft-h2 {
		font-size: 30px;
		line-height: 36px
	}
}
.ft-h3 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 16px;
	line-height: 23px
}
@media screen and (min-width: 600px) {
	.ft-h3 {
		font-size: 25px;
		line-height: 31px
	}
}
@media screen and (min-width: 960px) {
	.ft-h3 {
		font-size: 25px;
		line-height: 31px
	}
}
.ft-f20 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 20px;
	line-height: 20px
}
.ft-h4 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 16px;
	line-height: 23px
}
.ft-h5 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 16px;
	line-height: 23px
}
.ft-h6 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 14px;
	line-height: 20px
}
.ft-h7 {
	font-family: abchanel-corpo,sans-serif;
	font-size: 10px;
	line-height: 18px
}
.ft-text-center {
	text-align: center
}
.ft-text-right {
	text-align: right
}
.ft-underline {
	text-decoration: underline
}
.ft-paragraph {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 14px;
	line-height: 1.57;
	font-weight: 300;
	color: white
}
.ft-p {
	font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
	font-size: 14px;
	font-weight: 100;
	color: white;
	line-height: 1.6428571429;
	letter-spacing: .00625rem
}
.ft-text-bold {
	font-weight: 700
}
.ft-gap-extra-large {
	margin-bottom: 63px
}
@media screen and (min-width: 600px) {
	.ft-gap-extra-large {
		margin-bottom: 90px
	}
}
.ft-gap-large {
	margin-bottom: 54px
}
@media screen and (min-width: 600px) {
	.ft-gap-large {
		margin-bottom: 72px
	}
}
.ft-gap-medium {
	margin-bottom: 27px
}
@media screen and (min-width: 600px) {
	.ft-gap-medium {
		margin-bottom: 54px
	}
}
.ft-gap-small {
	margin-bottom: 18px
}
@media screen and (min-width: 600px) {
	.ft-gap-small {
		margin-bottom: 36px
	}
}
.ft-gap-extra-small {
	margin-bottom: 18px
}
.ft-gap-tiny {
	margin-bottom: 9px
}
.ft-gap-extra-tiny {
	margin-bottom: 5px
}
.ft-bottom-padding-large {
	padding-bottom: 54px
}
@media screen and (min-width: 600px) {
	.ft-bottom-padding-large {
		padding-bottom: 72px
	}
}
.ft-top-padding-large {
	padding-top: 54px
}
@media screen and (min-width: 600px) {
	.ft-top-padding-large {
		padding-top: 72px
	}
}
.ft-top-padding-medium {
	padding-top: 54px
}
.ft-bottom-border {
	border-bottom: 1px solid #ececec
}
.ft-top-border {
	border-top: 1px solid #ececec
}
.ft-top-border-dark {
	border-top: 1px solid #000
}
.ft-button-white {
	font-family: abchanel-corpo,sans-serif;
	font-size: 11px;
	width: 100%;
	letter-spacing: 0;
	text-align: center;
	line-height: 16px;
	border: 1px solid #1d1d1d;
	padding-top: 18px;
	padding-bottom: 18px;
	text-decoration: none;
	background-color: #fff;
	color: #000;
	cursor: pointer
}
.ft-button-black {
	font-family: abchanel-corpo,sans-serif;
	width: 100%;
	font-size: 13px;
	letter-spacing: 0;
	text-align: center;
	line-height: 16px;
	border: 1px solid #1d1d1d;
	padding: 10px;
	text-decoration: none;
	color: #fff;
	background-color: #000;
	margin: 0 auto;
	cursor: pointer;
	transition: all 150ms ease-in
}
.ft-button-black:hover {
	background: #fff;
	color: #fff
}
.ft-links-button {
	font-family: abchanel-corpo,sans-serif;
	border: 2px solid transparent;
	border-bottom-color: #ececec;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	display: inline-block;
	padding: 18px 0 7px 0;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	vertical-align: middle;
	line-height: 16px;
	cursor: pointer;
	outline: 0;
	background: 0 0;
	text-align: center;
	transition: border 250ms ease-in
}
.ft-links-button:hover {
	border-bottom-color: white
}
.ft-link-underline {
	font-weight: inherit;
	padding: 0;
	margin: 0;
	text-decoration: underline;
	background: 0 0;
	cursor: pointer;
	border: 0;
	color: inherit
}
.showMobile {
	display: block
}
@media screen and (min-width: 600px) {
	.showMobile {
		display: none
	}
}
.showIpad {
	display: none
}
@media screen and (min-width: 600px) and (max-width: 960px) {
	.showIpad {
		display: block
	}
}
.showIpadAndDesktop {
	display: none
}
@media screen and (min-width: 600px) {
	.showIpadAndDesktop {
		display: block
	}
}
.showDesktop {
	display: none
}
@media screen and (min-width: 960px) {
	.showDesktop {
		display: block
	}
}
.hideDesktop {
	display: block
}
@media screen and (min-width: 960px) {
	.hideDesktop {
		display: none
	}
}
.hideMobile {
	display: none
}
@media screen and (min-width: 600px) {
	.hideMobile {
		display: block
	}
}
.ft-input {
	position: relative;
	padding: 5px 0
}
.ft-input label {
	position: absolute;
	top: 10px;
	left: 0;
	z-index: -1
}
.ft-input input {
	background: 0 0;
	outline: 0;
	border: 0;
	margin-top: 5px;
	transition: all .4s linear
}
.ft-input input:focus+label {
	transform: scale(.7);
	transform-origin: left top;
	color: #7b5353;
	transition: all .4s linear;
	top: 0;
	left: 0
}
.ft-input input:not(:placeholder-shown)+label {
	top: 0;
	left: 0;
	transform: scale(.7);
	transform-origin: left top;
	transition: all .4s linear
}
.ft-input input::placeholder {
	opacity: 0
}
.ft-input input:focus~hr:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border: 2px solid #000;
	animation-name: borderwidth;
	animation-duration: .7s;
	animation-fill-mode: forwards
}
.ft-input input:not(:focus)~hr:after {
	content: "";
	position: absolute;
	animation-name: borderwidthBack;
	animation-duration: .7s;
	animation-fill-mode: forwards
}
.ft-input hr {
	position: relative;
	background: #d3d3d3;
	height: 1px;
	outline: 0;
	border: 0;
	margin: 0;
	padding: 0
}
@keyframes borderwidth {
	from {
		width: 0
	}
	to {
		width: 100%
	}
}
@keyframes borderwidthBack {
	from {
		border: 2px solid #000;
		width: 100%
	}
	to {
		border: 0 solid #000;
		width: 0
	}
}
.ft-rock-center__tabs {
	text-align: center;
	margin: auto 0;
	width: 100%
}
div#expertSkincareHeader {
	font-size: 40px;
	font-family: abchanel-corpo,sans-serif;
	font-weight: 600;
	line-height: 40px;
	margin: 0 auto;
	padding: 40px 0;
	width: 45%
}

li.ft-rock-center__nav-li {
	display: flex;
	flex: 0 0 auto;
	margin-right: 20px
}
#stickyTabs>ul>li:nth-child(1) {
	margin: 0 20px
}
#stickyTabs {
	background: black;
	align-items: flex-end;
	border-bottom: 1px solid #35353d;
    border-top: 1px solid #35353d;
	position: static;
	width: 100%;
	z-index: 100;
	padding: 0 0 10px 10%!important;
	
}
.ft-rock-center__tabs ul.ft-rock-center__nav-list {
	padding: 0;
	position: relative;
	list-style: none;
	display: flex;
	line-height: 54px;
	flex-direction: row;
	justify-content: end
}
.ft-rock-center__tabs .ft-rock-center__nav-spacer {
	padding-right: 40px
}
.ft-rock-center__tabs .ft-rock-center__nav-item {
	justify-content: center;
	font-size: 12px;
	font-family: abchanel-corpo,sans-serif;
	font-weight: 600;
	color: white;
	padding-bottom: 5px;
	background: 0 0;
	border: 0;
	outline: 0;
	margin-left: 0;
	margin-right: 0;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: border .2s ease-out
}
.ft-rock-center__tabs .ft-rock-center__nav-item:focus {
	border-bottom: 3px solid #000
}
.ft-rock-center__tabs .ft-rock-center__nav-item:hover {
	border-bottom: 2px solid white;
	color: white
}
.ft-rock-center__tabs .ft-rock-center__navigation-line {
	width: 100%;
	height: 1px;
	background: black;
	position: absolute;
	z-index: -1
}
.ft-rock-center__tabs .ft-rock-center__nav-item--active {
	border-bottom: 2px solid white;
	color: white;
}
.ft-rock-center__tabs .ft-text-grey {
	color: white
}
.ft-rock-center__tabs .ft-rock-center__section--active {
	opacity: 1;
	display: flex;
	animation: fade-in .6s ease-in;
	pointer-events: none
}
.ft-rock-center__tabs .ft-rock-center__section--inactive {
	display: none
}
@keyframes fade-in {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@media screen and (max-width: 768px) {
	.ft-rock-center__nav-list {
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap
	}
}
@media screen and (max-width: 600px) {
	.ft-rock-center__nav-list {
		padding: 0
	}
	.ft-rock-center__nav-li {
		align-items: flex-end;
		margin: 0 auto
	}
	div#expertSkincareHeader {
		width: 100%;
		font-size: 30px
	}
}
ul.ft-rock-center__nav-list::-webkit-scrollbar {
	display: none;
}