${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-rock-center__tabs">
  <div class="ft-row ft-start" id="stickyTabs">
    <ul class="ft-rock-center__nav-list">
      <li class="ft-rock-center__nav-li">
        <a href="/us/rock-center-event-details-page/"
          ><button
            class="
              ft-rock-center__nav-item
              ft-rock-center__nav-item--active
            "
            data-section="#home"
            id="home"
          >
            nº5 in the start
          </button></a
        >
      </li>
      <li class="ft-rock-center__nav-li">
        <a href="/us/rock-center-event-details-page/map/"
          ><button
            class="ft-rock-center__nav-item"
            data-section="#map"
            id="map"
          >
            map
          </button></a 
        >
      </li>
      <li class="ft-rock-center__nav-li">
        <a href="/us/rock-center-event-details-page/the-evolution/"
          ><button
            class="ft-rock-center__nav-item"
            data-section="#evolution"
            id="evolution"
          >
            the evolution
          </button></a
        >
      </li>
      <li class="ft-rock-center__nav-li">
        <a href="/us/rock-center-event-details-page/the-history/"
          ><button
            class="ft-rock-center__nav-item"
            data-section="#history"
            id="history"
          >
            the history
          </button></a
        >
      </li>
    </ul>
  </div>
</div>
