html
    head
        title Gulp, SASS + Pug Templates
        meta(name='viewport', content='width=device-width, initial-scale=1')

        //- External libraries
        //- script(src="//code.jquery.com/jquery-1.8.0.min.js")
        script(src="//fonts.chanel.com/gnl1lnt.js")
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.js")
        //- script(src="//uat-amp.chanel.com/bundles/app/amp/amp.premier.min.js")
        //- script(src="//uat-amp.chanel.com/bundles/app/dist/js/prod.js")
        //- script(src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js")
        //- link(rel="stylesheet", href="//www.chanel.com/_ui/responsive/theme-onechanel/main.css")

        //- Font and interenal styels and JS
        //- link(rel="stylesheet", href="./styles/typography/font.scss")
        link(href='/css/main.css', rel='stylesheet')
        script(src="/js/code.js")

    style.
        html, body, div, span, object, iframe,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        abbr, address, cite, code,
        del, dfn, em, img, ins, kbd, q, samp,
        small, strong, sub, sup, var,
        b, i,
        dl, dt, dd, ol, ul, li,
        fieldset, form, label, legend,
        table, caption, tbody, tfoot, thead, tr, th, td,
        article, aside, canvas, details, figcaption, figure,
        footer, header, hgroup, menu, nav, section, summary,
        time, mark, audio, video {
            margin:0;
            padding:0;
            border:0;
            outline:0;
            font-size:100%;
            vertical-align:baseline;
            background:transparent;
        }

        body {
            line-height:1;
        }

        article,aside,details,figcaption,figure,
        footer,header,hgroup,menu,nav,section {
            display:block;
        }

        nav ul {
            list-style:none;
        }

        blockquote, q {
            quotes:none;
        }

        * {
            box-sizing: border-box;
        }

        blockquote:before, blockquote:after,
        q:before, q:after {
            content:'';
            content:none;
        }

        a {
            margin:0;
            padding:0;
            font-size:100%;
            vertical-align:baseline;
            background:transparent;
        }

        /* change colours to suit your needs */
        ins {
            background-color:#ff9;
            color:#000;
            text-decoration:none;
        }

        /* change colours to suit your needs */
        mark {
            background-color:#ff9;
            color:#000;
            font-style:italic;
            font-weight:bold;
        }

        del {
            text-decoration: line-through;
        }

        abbr[title], dfn[title] {
            border-bottom:1px dotted;
            cursor:help;
        }

        table {
            border-collapse:collapse;
            border-spacing:0;
        }

        /* change border colour to suit your needs */
        hr {
            display:block;
            height:1px;
            border:0;
            border-top:1px solid #cccccc;
            margin:1em 0;
            padding:0;
        }

        input, select {
            vertical-align:middle;
        }
        .header__level-one{
            height: 20px;
            background: yellow;
        }

        .subfooter {
            height: 200px;
            background: black;
        }
        .header__outer {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }
    body
        .header__outer
        include views/main.pug
        .subfooter

        //- input(type="text", name="", value=css)
        //- input(type="text", name="", value=js)
        //- input(type="text", name="", value=lang)
        //- input(type="text", name="", value=html)

//- ${freetextcss} ${freeTextJSLiabraries} ${freeTextjs}

//- //code.jquery.com/jquery-2.2.0.min.js; //fonts.chanel.com/gnl1lnt.js; //uat-amp.chanel.com/bundles/app/amp/amp.premier.min.js; //uat-amp.chanel.com/bundles/app/dist/js/prod.js;

//- //code.jquery.com/jquery-2.2.0.min.js; //fonts.chanel.com/gnl1lnt.js; //cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js