@charset "UTF-8";
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: 0;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
.slick-loading .slick-list {
  background: #fff
    url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/ajax-loader.gif)
    center center no-repeat;
}
@font-face {
  font-family: slick;
  font-weight: 400;
  font-style: normal;
  src: url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot);
  src: url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.eot?#iefix)
      format("embedded-opentype"),
    url(//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.woff)
      format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.ttf)
      format("truetype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/fonts/slick.svg#slick)
      format("svg");
}
.slick-next,
.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: 0;
  background: 0 0;
}
.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: transparent;
  outline: 0;
  background: 0 0;
}
.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
  opacity: 1;
}
.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
.slick-disabled {
  display: none !important;
}
.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}
.slick-dots li button:focus,
.slick-dots li button:hover {
  outline: 0;
}
.slick-dots li button:focus:before,
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: slick;
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
.slick-slider {
  overflow: hidden;
}
.slick-slide {
  margin: 0 4px;
}
.slick-list {
  margin: 0 -4px;
}
@media screen and (max-width: 600px) {
  .slick-slide {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
}
.ft-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 11px;
  max-width: 600px;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .ft-row {
    max-width: 1440px;
    padding: 0 13.5px;
  }
}
.ft-row .ft-col-half {
  width: 50%;
  padding: 0 9px;
}
@media screen and (min-width: 600px) {
  .ft-row .ft-col-half {
    padding: 0 13.5px;
  }
}
.ft-row .ft-col-full {
  width: 100%;
  padding: 0 9px;
}
@media screen and (min-width: 600px) {
  .ft-row .ft-col-full {
    padding: 0 13.5px;
  }
}
.ft-row .ft-col-1 {
  width: 16.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-1 {
  width: 16.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-2 {
  width: 33.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-2 {
  width: 33.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-3 {
  width: 50%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-3 {
  width: 50%;
  padding: 0 9px;
}
.ft-row .ft-col-4 {
  width: 66.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-4 {
  width: 66.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-5 {
  width: 83.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-5 {
  width: 83.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-6 {
  width: 100%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-6 {
  width: 100%;
  padding: 0 9px;
}
.ft-row .ft-col-7 {
  width: 116.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-7 {
  width: 116.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-8 {
  width: 133.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-8 {
  width: 133.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-9 {
  width: 150%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-9 {
  width: 150%;
  padding: 0 9px;
}
.ft-row .ft-col-10 {
  width: 166.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-10 {
  width: 166.66667%;
  padding: 0 9px;
}
.ft-row .ft-col-11 {
  width: 183.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-11 {
  width: 183.33333%;
  padding: 0 9px;
}
.ft-row .ft-col-12 {
  width: 200%;
  padding: 0 9px;
}
.ft-row .ft-col-sm-12 {
  width: 200%;
  padding: 0 9px;
}
@media screen and (min-width: 600px) {
  .ft-row .ft-col-1 {
    width: 8.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-1 {
    width: 8.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-2 {
    width: 16.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-2 {
    width: 16.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-3 {
    width: 25%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-3 {
    width: 25%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-4 {
    width: 33.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-4 {
    width: 33.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-5 {
    width: 41.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-5 {
    width: 41.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-6 {
    width: 50%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-6 {
    width: 50%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-7 {
    width: 58.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-7 {
    width: 58.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-8 {
    width: 66.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-8 {
    width: 66.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-9 {
    width: 75%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-9 {
    width: 75%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-10 {
    width: 83.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-10 {
    width: 83.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-11 {
    width: 91.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-11 {
    width: 91.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-12 {
    width: 100%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-lg-12 {
    width: 100%;
    padding: 0 13.5px;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-row .ft-col-md-1 {
    width: 8.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-2 {
    width: 16.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-3 {
    width: 25%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-4 {
    width: 33.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-5 {
    width: 41.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-6 {
    width: 50%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-7 {
    width: 58.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-8 {
    width: 66.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-9 {
    width: 75%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-10 {
    width: 83.33333%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-11 {
    width: 91.66667%;
    padding: 0 13.5px;
  }
  .ft-row .ft-col-md-12 {
    width: 100%;
    padding: 0 13.5px;
  }
}
.ft-row .content {
  border: 3px dashed #767676;
  height: 54px;
  background: #a6d8f2;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ft-center {
  display: flex;
  justify-content: center;
}
.ft-v-center {
  display: flex;
  align-items: center;
}
.ft-row-space-between {
  display: flex;
  justify-content: space-between;
}
.ft-row-end {
  display: flex;
  justify-content: flex-end;
}
.ft-col-right {
  margin-left: auto;
}
.ft-col-left {
  margin-right: auto;
}
.ft-col-center {
  margin: 0 auto;
}
.ft-row-space-around {
  justify-content: space-around;
}
.ft-row-space-evenly {
  justify-content: space-evenly;
}
.ft-grow {
  flex-grow: 1;
}
.ft-h1 {
  font-family: abchanel-pb-m;
  font-size: 25px;
  line-height: 31px;
}
@media screen and (min-width: 600px) {
  .ft-h1 {
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (min-width: 960px) {
  .ft-h1 {
    font-size: 40px;
    line-height: 45px;
  }
}
.ft-h2 {
  font-family: abchanel-pb-m;
  font-size: 20px;
  line-height: 27px;
}
@media screen and (min-width: 600px) {
  .ft-h2 {
    font-size: 25px;
    line-height: 30px;
  }
}
@media screen and (min-width: 960px) {
  .ft-h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
.ft-h3 {
  font-family: abchanel-pb-m;
  font-size: 16px;
  line-height: 23px;
}
@media screen and (min-width: 600px) {
  .ft-h3 {
    font-size: 25px;
    line-height: 31px;
  }
}
@media screen and (min-width: 960px) {
  .ft-h3 {
    font-size: 25px;
    line-height: 31px;
  }
}
.ft-f20 {
  font-family: abchanel-pb-m;
  font-size: 20px;
  line-height: 20px;
}
.ft-h4 {
  font-family: abchanel-pb-m;
  font-size: 16px;
  line-height: 23px;
}
.ft-h5 {
  font-family: abchanel-pb-m;
  font-size: 16px;
  line-height: 23px;
}
.ft-h6 {
  font-family: abchanel-pb-m;
  font-size: 14px;
  line-height: 20px;
}
.ft-h7 {
  font-family: abchanel-pb-m;
  font-size: 12px;
  line-height: 18px;
}
.ft-text-center {
  text-align: center;
}
.ft-text-right {
  text-align: right;
}
.ft-underline {
  text-decoration: underline;
}
.ft-paragraph {
  font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 300;
  color: white;
}
.ft-paragraph-white {
    font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 300;
    color: white;
  }

.ft-text-bold {
  font-weight: 600;
}
.ft-gap-extra-large {
  margin-bottom: 63px;
}
@media screen and (min-width: 600px) {
  .ft-gap-extra-large {
    margin-bottom: 90px;
  }
}
.ft-gap-large {
  margin-bottom: 54px;
}
@media screen and (min-width: 600px) {
  .ft-gap-large {
    margin-bottom: 72px;
  }
}
.ft-gap-medium {
  margin-bottom: 27px;
}
@media screen and (min-width: 600px) {
  .ft-gap-medium {
    margin-bottom: 54px;
  }
}
.ft-gap-small {
  margin-bottom: 18px;
}
@media screen and (min-width: 600px) {
  .ft-gap-small {
    margin-bottom: 36px;
  }
}
.ft-gap-extra-small {
  margin-bottom: 18px;
}
.ft-gap-tiny {
  margin-bottom: 9px;
}
.ft-gap-extra-tiny {
  margin-bottom: 5px;
}
.ft-bottom-padding-large {
  padding-bottom: 54px;
}
@media screen and (min-width: 600px) {
  .ft-bottom-padding-large {
    padding-bottom: 72px;
  }
}
.ft-top-padding-large {
  padding-top: 54px;
}
@media screen and (min-width: 600px) {
  .ft-top-padding-large {
    padding-top: 72px;
  }
}
.ft-top-padding-medium {
  padding-top: 36px;
}
.ft-bottom-border {
  border-bottom: 1px solid #ececec;
}
.ft-top-border {
  border-top: 1px solid #ececec;
}
.ft-top-border-dark {
  border-top: 1px solid #000;
}
.ft-button-white {
  font-family: abchanel-pb-m;
  font-size: 11px;
  width: 100%;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #1d1d1d;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.ft-button-black {
  font-family: abchanel-pb-m;
  width: 100%;
  font-size: 13px;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #1d1d1d;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  margin: 0 auto;
  cursor: pointer;
  transition: all 150ms ease-in;
}
.ft-button-black:hover {
  background: #fff;
  color: #000;
}
.ft-links-button {
  font-family: abchanel-pb-m;
  border: 2px solid transparent;
  border-bottom-color: #ececec;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  display: inline-block;
  padding: 18px 0 7px 0;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  vertical-align: middle;
  line-height: 16px;
  cursor: pointer;
  outline: 0;
  background: 0 0;
  text-align: center;
  transition: border 250ms ease-in;
}
.ft-links-button:hover {
  border-bottom-color: #000;
}
.ft-link-underline {
  font-weight: inherit;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  background: 0 0;
  cursor: pointer;
  border: 0;
  color: inherit;
}
.showMobile {
  display: block;
}
@media screen and (min-width: 600px) {
  .showMobile {
    display: none;
  }
}
.showIpad {
  display: none;
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .showIpad {
    display: block;
  }
}
.showIpadAndDesktop {
  display: none;
}
@media screen and (min-width: 600px) {
  .showIpadAndDesktop {
    display: block;
  }
}
.showDesktop {
  display: none;
}
@media screen and (min-width: 960px) {
  .showDesktop {
    display: block;
  }
}
.hideDesktop {
  display: block;
}
@media screen and (min-width: 960px) {
  .hideDesktop {
    display: none;
  }
}
.hideMobile {
  display: none;
}
@media screen and (min-width: 600px) {
  .hideMobile {
    display: block;
  }
}
.ft-input {
  position: relative;
  padding: 5px 0;
}
.ft-input label {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: -1;
}
.ft-input input {
  background: 0 0;
  outline: 0;
  border: 0;
  margin-top: 5px;
  transition: all 0.4s linear;
}
.ft-input input:focus + label {
  transform: scale(0.7);
  transform-origin: left top;
  color: #7b5353;
  transition: all 0.4s linear;
  top: 0;
  left: 0;
}
.ft-input input:not(:placeholder-shown) + label {
  top: 0;
  left: 0;
  transform: scale(0.7);
  transform-origin: left top;
  transition: all 0.4s linear;
}
.ft-input input::placeholder {
  opacity: 0;
}
.ft-input input:focus ~ hr:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #000;
  animation-name: borderwidth;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
.ft-input input:not(:focus) ~ hr:after {
  content: "";
  position: absolute;
  animation-name: borderwidthBack;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}
.ft-input hr {
  position: relative;
  background: #d3d3d3;
  height: 1px;
  outline: 0;
  border: 0;
  margin: 0;
  padding: 0;
}
@keyframes borderwidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes borderwidthBack {
  from {
    border: 2px solid #000;
    width: 100%;
  }
  to {
    border: 0 solid #000;
    width: 0;
  }
}
main {
  height: 100%;
}
.ft-rock-center-event-parent-container {
  max-width: 1440px;
  margin: 0 auto;
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container {
    padding: 0 0 54px;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container {
    padding: 0 3% 54px;
  }
}
@media screen and (min-width: 960px) {
  .ft-rock-center-event-parent-container {
    padding: 0 5.8rem 54px;
  }
}
.ft-rock-center-event-parent-container h1 {
  text-align: center;
}
.ft-rock-center-event-parent-container h1.ft-h2 {
  font-size: 40px;
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container h1.ft-h2 {
    font-size: 25px;
  }
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel {
  list-style-type: none;
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel {
    padding: 0 !important;
  }
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel .ft-rock-center-event-service {
  margin-bottom: 12px;
  padding: 0 10px;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-col {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-col {
    padding: 0 5.333%;
  }
}
.ft-rock-center-event-parent-container .ft-rock-center-event-carousel-container {
  position: relative;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-appt-container {
  position: relative;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-appt-container .ft-rock-center-event-button-container {
  position: absolute;
  bottom: 3.125rem;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-appt-container .ft-rock-center-event-button-container {
    bottom: 2rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-appt-container .ft-rock-center-event-button-container {
    bottom: 1.3rem;
  }
}
.ft-rock-center-event-parent-container
  .ft-rock-center-event-appt-container
  .ft-rock-center-event-button-container
  button {
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
  width: 14.875rem;
  height: 3.125rem;
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container
    .ft-rock-center-event-appt-container
    .ft-rock-center-event-button-container
    button {
    font-size: 11px;
    height: 2.5rem;
    padding: 12px 0;
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container
    .ft-rock-center-event-appt-container
    .ft-rock-center-event-button-container
    button {
    height: 2.8rem;
    width: 60%;
    padding: 12px 0;
  }
}
.ft-rock-center-event-parent-container
  .ft-rock-center-event-appt-container
  .ft-rock-center-event-button-container
  button
  > span {
  border-bottom: 1px solid transparent;
  padding-bottom: 3px;
  transition: border-bottom 0.5s ease-out;
}
.ft-rock-center-event-parent-container
  .ft-rock-center-event-appt-container
  .ft-rock-center-event-button-container
  button:hover
  > span {
  border-bottom: 1px solid #fff;
  transition: border-bottom 0.5s ease-out;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-appt-container img {
  height: auto;
  width: 100%;
  display: none;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-appt-container img:hover {
  cursor: pointer;
}
.ft-rock-center-event-parent-container .slick-slide .ft-rock-center-event-appt-container .ft-rock-center-event-image {
  display: block;
}
.ft-rock-center-event-parent-container .ft-brickwork-widget button {
  font-family: abchanel-pb-m;
  font-size: 11px;
  font-weight: 600;
  width: 80%;
  letter-spacing: 0;
  text-align: center;
  line-height: 16px;
  border: 1px solid #1d1d1d;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  background-color: #fff;
  color: white;
  cursor: pointer;
}
.ft-rock-center-event-parent-container .ft-brickwork-widget button:hover {
  color: #fff;
  background-color: white;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button,
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
  cursor: pointer;
  position: absolute;
  bottom: -17px;
  background: 0 0;
  border: none;
  width: 38px;
}
@media screen and (min-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button,
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    bottom: 50%;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button,
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    width: 14px;
  }
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button .is-sr-only,
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button .is-sr-only {
  visibility: hidden;
  display: none;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button svg,
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button svg {
  fill: #000;
  width: 30px;
}
@media screen and (max-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button svg,
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button svg {
    width: 14px;
  }
}
@media screen and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button svg,
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button svg {
    width: 10px;
  }
}
.ft-rock-center-event-parent-container
  .ft-rock-center-event-content-carousel__next-button[aria-disabled="true"]
  svg,
.ft-rock-center-event-parent-container
  .ft-rock-center-event-content-carousel__previous-button[aria-disabled="true"]
  svg {
  display: none;
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
  left: -12px;
  transform: rotate(180deg);
}
@media screen and (min-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    left: -24px;
  }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    left: 39%;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    left: 0;
  }
}
@media screen and (max-width: 469px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__previous-button {
    left: 36%;
  }
}
.ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button {
  right: -12px;
}
@media screen and (min-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button {
    right: -24px;
  }
}
@media screen and (min-width: 470px) and (max-width: 600px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button {
    right: 39%;
  }
}
@media screen and (min-width: 600px) and (max-width: 960px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button {
    right: 0;
  }
}
@media screen and (max-width: 469px) {
  .ft-rock-center-event-parent-container .ft-rock-center-event-content-carousel__next-button {
    right: 36%;
  }
}
.ft-rock-center-event-parent-container :focus {
  outline: 0;
}
.is-using-keyboard .ft-rock-center-event-parent-container :focus {
  outline: -webkit-focus-ring-color auto 5px !important;
}

header.header {
    display: none ;
 }
 .subfooter__container {
     display: none ;
  }

  main[role=main].main {
    min-height: 100% ;
}


.ft-parent-container {
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
    min-height: 100%;
}
.ft-parent-container .ft-appt--text {
    padding: 28px 0 0;
    margin-bottom: 27px;
    border: 1px solid #ececec
}
@media screen and (max-width: 600px) {
    .ft-parent-container .ft-appt--text {
        margin-bottom: 0
    }
}
.ft-parent-container .image-place-holder {
    width: 100%;
    height: 150px;
    background: #f2f2f2;
    margin-bottom: 18px
}
.ft-parent-container .ft-block {
    display: block;
    margin: 9px 16px
}
.ft-parent-container .ft-4px-border {
    border-bottom: 4px solid #000;
    margin: 0 auto
}
.ft-parent-container .ft-brickwork-widget button {
    font-family: abchanel-corpo,sans-serif;
    font-size: 11px;
    font-weight: 600;
    width: 100%;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    border: 1px solid #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    background-color: #000;
    color: #fff;
    cursor: pointer
}
.ft-parent-container h1+p.ft-paragraph {
    color: #767676;
    margin-top: 12px
}
.ft-parent-container .ft-subtitle {
    color: #767676;
    font-size: 10px
}
.ft-parent-container .sub-heading {
    font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    text-transform: capitalize
}

.ft-rock-center-event-arrow-left{
    position: absolute;
    top: 560px;
    left: 10%;
}

.ft-rock-center-event-arrow-right{    
    position: absolute;
    top: 560px;
    right: 10%;
}


footer{  
  display: none;
}

.ft-appt-container{
width: 100%;

}

.ft-top-padding-medium-rock{
padding-top: 27px;
}

.ft-top-padding-medium-rock-offset{
  padding-top: 110px;
}
  
.ft-h2-size{
  font-size: 20px;
  line-height: 27px;
  font-family: Helvetica, Open-Sans, sans-serif-light, sans-serif;
}

@media screen and (min-width: 600px) {
  .ft-top-padding-medium-rock{
    padding-top: 45px;
  }
  .ft-h2-size{
    font-size: 30px;

  }

  .ft-top-padding-medium-rock-offset{
    padding-top: 140px;
  }
}

.ft-entire-sreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

