${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-parent-container ft-entire-sreen ft-top-padding-medium-rock-offset">
    <div class="ft-row ft-top-padding-medium-rock">
        <div class="ft-col-full ft-gap-tiny">
            <h1 class="ft-h1 ft-text-center ft-text-bold">THE EVOLUTION</h1>
        </div>
        <div class="ft-col-lg-9 ft-text-center ft-col-center">
            <p class="ft-paragraph-white ft-gap-tiny">Radically simple and instantly recognizable, the N°5 bottle adapts
                imperceptibly to its time. Scroll to discover each iteration from 1921 to 2012.
            </p>
        </div>
    </div>
    <div class="ft-gap-medium"></div>
    <div class="ft-rock-center-event-carousel-container">
        <div class="ft-row ft-rock-center-event-content-carousel">
            <div class="ft-text-center ft-rock-center-event-service" id="1921">
                <div class="ft-rock-center-event-appt-container">
                    <div class="ft-row ft-center">
                        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                            <div class="ft-appt-container">
                                <img
                                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/he0/h6b/9426482135070-N5-Bottle-1921-1080x1150.png" />
                            </div>
                        </div>
                        <div
                            class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-v-center ft-gap-medium ft-column">
                            <div class="ft-appt-container ">
                                <h2 class="ft-h2-size ft-text-center ft-text-bold ft-gap-tiny">1921</h2>
                                <p class="ft-paragraph-white ft-gap-tiny">The first bottle of the very first N°5—a
                                    rectangular, clear glass flacon with a small, square stopper engraved with a double
                                    C—marks the first appearance of the now-classic monogram.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-text-center ft-rock-center-event-service" id="1924">
                <div class="ft-rock-center-event-appt-container">
                    <div class="ft-row ft-center">
                        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                            <div class="ft-appt-container">
                                <img
                                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/hcf/h68/9426482200606-N5-Bottle-1924-1080x1150.png" />
                            </div>
                        </div>
                        <div
                            class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-v-center ft-text-center ft-gap-medium ft-column">
                            <div class="ft-appt-container ">
                                <h2 class="ft-h2-size ft-text-center  ft-text-bold ft-gap-tiny">1924</h2>
                                <p class="ft-paragraph-white ft-gap-tiny">Redesigned, the N°5 stopper now features an
                                    emerald shape, emulating the distinct geometry of Place Vendôme in Paris. The
                                    silhouette is instantly iconic.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-text-center ft-rock-center-event-service" id="1950s">
                <div class="ft-rock-center-event-appt-container">
                    <div class="ft-row ft-center">
                        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                            <div class="ft-appt-container">
                                <img
                                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h21/h68/9426482266142-N5-Bottle-1950-1080x1150.png" />
                            </div>
                        </div>
                        <div
                            class="ft-col-lg-4 ft-col-md-6 ft-v-center ft-col-sm-6 ft-text-center ft-gap-medium ft-column">
                            <div class="ft-appt-container ">
                                <h2  class="ft-h2-size ft-text-center ft-text-bold ft-gap-tiny">1950s</h2>
                                <p class="ft-paragraph-white ft-gap-tiny">The N°5 stopper is reinforced to be even more
                                    distinguished, while the bottle’s neck is lengthened.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-text-center ft-rock-center-event-service" id="1970s">
                <div class="ft-rock-center-event-appt-container">
                    <div class="ft-row ft-center">
                        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                            <div class="ft-appt-container">
                                <img
                                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h10/h65/9426482331678-N5-Bottle-1970-1080x1150.png" />
                            </div>
                        </div>
                        <div
                            class="ft-col-lg-4 ft-col-md-6 ft-v-center ft-col-sm-6 ft-text-center ft-gap-medium ft-column">
                            <div class="ft-appt-container ">
                                <h2  class="ft-h2-size ft-text-center ft-text-bold ft-gap-tiny">1970s</h2>
                                <p class="ft-paragraph-white ft-gap-tiny">The N°5 bottle stopper takes on a new height.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ft-text-center ft-rock-center-event-service" id="2012">
                <div class="ft-rock-center-event-appt-container">
                    <div class="ft-row ft-center">
                        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
                            <div class="ft-appt-container">
                                <img
                                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h62/h64/9426482397214-N5-Bottle-2012-1080x1150.png" />
                            </div>
                        </div>
                        <div
                            class="ft-col-lg-4 ft-col-md-6 ft-v-center ft-col-sm-6 ft-text-center ft-gap-medium ft-column">
                            <div class="ft-appt-container ">
                                <h2 class="ft-h2-size ft-text-center ft-text-bold ft-gap-tiny">2012</h2>
                                <p class="ft-paragraph-white ft-gap-tiny">The N°5 bottle’s shoulders and stopper are
                                    subtly squared, forever reflecting the timeless elegance that defines the House
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <button
            class="ft-rock-center-event-content-carousel__previous-button ft-rock-center-event-arrow-left is-next-thin">
            <svg style="transform: rotate(
                180deg) scale(1.5)" class="icon" focusable="false" viewBox="0 0 1 1" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next-thin"></use>
            </svg>
        </button>
        <button
            class="ft-rock-center-event-content-carousel__next-button ft-rock-center-event-arrow-right is-next-thin">
            <svg style="transform:  scale(1.5)" class="icon" focusable="false" viewBox="0 0 1 1" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next-thin"></use>
            </svg>
        </button>
    </div>
</div>