${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div style=" position: fixed;
z-index: 9999;
width: 100%;">
   <div style="background-color: black;color: white;"
   class="ft-h1 ft-text-center ft-text-bold ft-bottom-padding-small ft-top-padding-small" >
   <a href="/us/">chanel</a>
      </div>

   <nav class="rock-center-nav  rock-center-tab-mobile border-bottom: 1px solid #35353d">
      <input type="checkbox" id="click"></input>
      <div  class="ft-tab" >
         <label for="click" class="menu-btn">
            <p style="z-index: 9999; color: white;" class="ft-h6  ft-text-bold">
               N°5 IN THE STARS
            </p>
            <i class="fas fa-bars"></i>
            <svg  class="icon" focusable="false" viewBox="0 0 1 1" aria-hidden="true">
               <use xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="/_ui/responsive/theme-onechanel/assets/icons.svg#next-thin"></use>
            </svg>
         </label>
      </div>
      <ul>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/"><button class="
                   ft-rock-center__nav-item
                  
                   ft-h7  ft-text-bold
                 " data-section="#home" id="home">
                  home
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/map/"><button
                  class="ft-h7  ft-text-bold
                  
                  ft-rock-center__nav-item" data-section="#map" id="map">
                  map
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/the-evolution/"><button
                  class="ft-h7   ft-underline__active  ft-text-bold ft-rock-center__nav-item" data-section="#evolution" id="evolution">
                  the evolution
               </button></a></li>
         <li><a href="/us/fragrance/n5-in-the-stars-guide/the-history/"><button
                  class="ft-h7    ft-text-bold ft-rock-center__nav-item" data-section="#history" id="history">
                  the history
               </button></a></li>
      </ul>
   </nav>
   <div class="ft-tab-desktop ft-rock-center__tabs rock-center-tab-desktop">
      <div class="ft-row ft-start" id="stickyTabs">
         <ul class="ft-rock-center__nav-list">
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/"><button class="
                  ft-rock-center__nav-item
                 
                " data-section="#home" id="home">
                N°5 IN THE STARS
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/map/"><button class="ft-rock-center__nav-item "
                     data-section="#map" id="map">
                     map
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/the-evolution/"><button class="ft-rock-center__nav-item  ft-rock-center__nav-item--active"
                     data-section="#evolution" id="evolution">
                     the evolution
                  </button></a>
            </li>
            <li class="ft-rock-center__nav-li">
               <a href="/us/fragrance/n5-in-the-stars-guide/the-history/"><button class="ft-rock-center__nav-item  "
                     data-section="#history" id="history">
                     the history
                  </button></a>
            </li>
         </ul>
      </div>
   </div>
</div>