$small-screen-grid: 6;
$small-screen-gutter: 18px;
$small-screen-half-gutter: $small-screen-gutter /2;

$full-screen-grid: 12;
$full-screen-gutter: 27px;
$full-screen-half-gutter: $full-screen-gutter / 2;


$small-layout-width: 600px;
$max-layout-width: 1440px;


/*******************/
/* COLORS
/*******************/
$dark-grey: #1d1d1d;
$noraml-grey: #333;
$light-grey: #767676;
$border-color:  #ECECEC;

$chanel-font: abchanel-pb-m;
/*******************/
/* MIXIN
/*******************/
@mixin desktop-only () {
    @media screen and (min-width: 960px) {
        @content;
    }
}


@mixin tablet-and-desktop () {
    @media screen and (min-width: 600px) {
      @content;
    }
}


@mixin tablet-only () {
    @media screen and (min-width: 600px ) and ( max-width: 960px) {
      @content;
    }
}


@mixin mobile-only () {
    @media screen and (max-width: 600px) {
      @content;
    }
}


/*******************/
/* GRID
/*******************/


.ft-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 ($small-screen-half-gutter + 2);
    max-width: $small-layout-width;
    margin: 0 auto;

    @include tablet-and-desktop {
        max-width: $max-layout-width;
        padding: 0 $full-screen-half-gutter;
    }

    .ft-col-half {
        width: 50%;
        padding: 0 $small-screen-half-gutter;
        // margin-bottom: 18px;
        @include tablet-and-desktop {
            padding: 0 $full-screen-half-gutter;
            // margin-bottom: 18px;
        }
    }

    .ft-col-full {
        width: 100%;
        padding: 0 $small-screen-half-gutter;
        // margin-bottom: 18px;
        @include tablet-and-desktop {
            padding: 0 $full-screen-half-gutter;
            // margin-bottom: 18px;
        }
    }

    // @for $i from 1 through $small-screen-grid {
    //     .ft-mobile-col-#{$i} {
    //         width: percentage($i / $small-screen-grid);
    //         padding: 0 $small-screen-half-gutter;
            // margin-bottom: 18px;
    //     }
    // }

    // @include tablet-and-desktop {
    //     @for $i from 1 through $full-screen-grid {
    //         .ft-desktop-col-#{$i} {
    //             width: percentage($i / $full-screen-grid);
    //             padding: 0 $full-screen-half-gutter;
            // margin-bottom: 18px;
    //         }
    //     }
    // }

    @for $i from 1 through $full-screen-grid {
        .ft-col-#{$i} {
            width: percentage($i / $small-screen-grid);
            padding: 0 $small-screen-half-gutter;
            // margin-bottom: 18px;
        }


        .ft-col-sm-#{$i} {
            width: percentage($i / $small-screen-grid);
            padding: 0 $small-screen-half-gutter;
            // margin-bottom: 18px;
        }
    }

    @include tablet-and-desktop {
        @for $i from 1 through $full-screen-grid {
            .ft-col-#{$i} {
                width: percentage($i / $full-screen-grid);
                padding: 0 $full-screen-half-gutter;
                // margin-bottom: 18px;
            }

            .ft-col-lg-#{$i} {
                width: percentage($i / $full-screen-grid);
                padding: 0 $full-screen-half-gutter;
                // margin-bottom: 18px;
            }
        }
    }


    @include tablet-only() {
        @for $i from 1 through $full-screen-grid {
            .ft-col-md-#{$i} {
                width: percentage($i / $full-screen-grid);
                padding: 0 $full-screen-half-gutter;
                // margin-bottom: 18px;
            }
        }
    }


    .content {
        // border: 1px solid green;
        border: 3px dashed $light-grey;
        height: 54px;
        background: rgb(166, 216, 242);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.ft-center {
    display: flex;
    justify-content: center;
}

.ft-v-center {
    display: flex;
    align-items: center;
}

.ft-row-space-between {
    display: flex;
    justify-content: space-between;
}

.ft-row-end {
    display: flex;
    justify-content: flex-end;
}

.ft-col-right {
    margin-left: auto;
}


.ft-col-left {
    margin-right: auto;
}

.ft-col-center {
    margin: 0 auto;
}
.ft-row-space-around {
    justify-content: space-around;
}


.ft-row-space-evenly {
    justify-content: space-evenly;
}


.ft-grow {
    flex-grow: 1;
}
/*******************/
/* HEADING
/*******************/
.ft-h1 {
    font-family: abchanel-pb-m;
    font-size: 25px;
    line-height: 31px;

    @include tablet-and-desktop {
        font-size: 30px;
        line-height: 36px;
    }

    @include desktop-only() {
        font-size: 40px;
        line-height: 45px;
    }
}

.ft-h2 {
    font-family: abchanel-pb-m;
    font-size: 20px;
    line-height: 27px;

    @include tablet-and-desktop {
        font-size: 30px;
        line-height: 36px;
    }

    @include desktop-only() {
        font-size: 30px;
        line-height: 36px;
    }
}

.ft-h3 {
    font-family: abchanel-pb-m;
    font-size: 16px;
    line-height: 23px;

    @include tablet-and-desktop {
        font-size: 25px;
        line-height: 31px;
    }

    @include desktop-only() {
        font-size: 25px;
        line-height: 31px;
    }
}

.ft-f20 {
    font-family: abchanel-pb-m;
    font-size: 20px;
    line-height: 20px;
}


.ft-h4 {
    font-family: abchanel-pb-m;
    font-size: 16px;
    line-height: 23px;
}


.ft-h5 {
    font-family: abchanel-pb-m;
    font-size: 16px;
    line-height: 23px;
}


.ft-h6 {
    font-family: abchanel-pb-m;
    font-size: 14px;
    line-height: 20px;
}

.ft-h7 {
    font-family: abchanel-pb-m;
    font-size: 10px;
    line-height: 18px;
}

// .ft-subtitle {
//     font-family: abchanel-pb-m;
//     color: $dark-grey;
//     font-size: 12px;
//     line-height: 18px;
//     letter-spacing: 1px;
// }






// .ft-cta-black {
//     font-family: abchanel-pb-m;
//     color: $dark-grey;
//     font-size: 11px;
//     line-height: 14px;
// }

/*******************/
/* UTILITIES
/*******************/

.ft-text-center {
    text-align: center;
}

.ft-text-right {
    text-align: right;
}

.ft-underline {
    text-decoration: underline;
}

.ft-paragraph {
    font-family: Helvetica, Open-Sans, "sans-serif-light", sans-serif;
    font-size: 14px;
    line-height: 1.57;
    font-weight: 300;
    color: $dark-grey;
}


.ft-text-bold {
    font-weight: bold;
}


/*******************/
/* Gap
/*******************/


.ft-gap-extra-large {
    margin-bottom: 63px;
    @include tablet-and-desktop() {
        margin-bottom: 90px;
    }
}

.ft-gap-large {
    margin-bottom: 54px;
    @include tablet-and-desktop() {
        margin-bottom: 72px;
    }
}

.ft-gap-medium {
    margin-bottom: 27px;
    @include tablet-and-desktop() {
        margin-bottom: 54px;
    }
}

.ft-gap-small {
    margin-bottom: 18px;
    @include tablet-and-desktop() {
        margin-bottom: 36px;
    }
}

.ft-gap-extra-small {
    margin-bottom: 18px;
}


.ft-gap-tiny {
    margin-bottom: 9px;
}


.ft-gap-extra-tiny {
    margin-bottom: 5px;
}




.ft-bottom-padding-large {
    padding-bottom: 54px;
    @include tablet-and-desktop() {
        padding-bottom: 72px;
    }
}


.ft-top-padding-large {
    padding-top: 54px;
    @include tablet-and-desktop() {
        padding-top: 72px;
    }
}


.ft-top-padding-medium {
    padding-top: 54px;
}

/*******************/
/* borders
/*******************/
.ft-bottom-border {
    border-bottom: 1px solid $border-color;
}


.ft-top-border {
    border-top: 1px solid $border-color;
}

.ft-top-border-dark {
    border-top: 1px solid #000;
}

/*******************/
/* Buttons
/*******************/

.ft-button-white {
    font-family: abchanel-pb-m;
    font-size: 11px;
    width: 100%;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    border: 1px solid $dark-grey;
    padding-top: 18px;
    padding-bottom: 18px;
    text-decoration: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

.ft-button-black {
    font-family: abchanel-pb-m;
    width: 100%;
    font-size: 13px;
    letter-spacing: 0;
    text-align: center;
    line-height: 16px;
    border: 1px solid $dark-grey;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #000;
    margin: 0 auto;
    cursor: pointer;
    transition: all 150ms ease-in;

    &:hover {
        background: #fff;
        color: #000;
    }
}


.ft-links-button {
    font-family: abchanel-pb-m;
    border: 2px solid transparent;
    border-bottom-color: #ececec;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    display: inline-block;
    padding: 18px 0 7px 0;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    vertical-align: middle;
    line-height: 16px;
    cursor: pointer;
    outline: 0;
    background: none;
    text-align: center;
    transition: border 250ms ease-in;

    &:hover {
        border-bottom-color: #000;
    }
}



.ft-link-underline {
    font-weight: inherit;
    padding: 0 ;
    margin: 0;
    text-decoration: underline;
    background: transparent;
    cursor: pointer;
    border: 0;
    color: inherit;
}




/*******************/
/* Hide/Show
/*******************/

.showMobile {
    display: block;

    @include tablet-and-desktop() {
        display: none;
    }
}



.showIpad {
    display: none;

    @include tablet-only() {
        display: block;
    }
}


.showIpadAndDesktop {
    display: none;

    @include tablet-and-desktop {
        display: block;
    }
}



.showDesktop {
    display: none;

    @include desktop-only {
        display: block;
    }
}



.hideDesktop {
    display: block;

    @include desktop-only {
        display: none;
    }
}



.hideMobile {
    display: none;

    @include tablet-and-desktop {
        display: block;
    }
}












/*******************/
/* Inputs
/*******************/
.ft-input {
    position: relative;
    // height: 90px;
    // border: 1px solid black;
    padding: 5px 0;

    label {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: -1;
    }

    input {
        background: transparent;
        outline: 0;
        border: 0;
        margin-top: 5px;
        transition: all .4s linear;
        // border: 1px solid red;
        // position: absolute;
        // bottom: 0;
        // left: 0;
    }

    input:focus {
        +label {
            transform: scale(.7);
            transform-origin: left top ;
            color: rgb(123, 83, 83);
            // border: 1px solid red;
            transition: all .4s linear;
            top: 0;
            left: 0;
        }
    }


    input:not(:placeholder-shown) {
        +label {
            top: 0;
            left: 0;
            transform: scale(.7);
            transform-origin: left top ;
            transition: all .4s linear;
        }
    }

    input::placeholder {
        opacity: 0;
    }
    // input:focus &
    // &:after {
    //     // border-bottom: 2px solid red;
    //     // transition: 20px;
    //     // animation-name: borderwidth;
    //     // animation-duration: 1s;
    //     // height: 20px;
    //     content: "";
    //     width: 100%;
    //     border: 1px solid red;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;

    //     input:focus {
    //         border: 2px solid green;
    //     }
    // }

    // .ft-input__input:focus < div {
    //     border: 1px solid green;
    // }

    input:focus {
        ~hr {
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                border: 2px solid black;
                animation-name: borderwidth;
                animation-duration: .7s;
                animation-fill-mode: forwards;

            }
        }
    }

    input:not(:focus) {
        ~hr {
            &:after {
                content: "";
                position: absolute;
                animation-name: borderwidthBack;
                animation-duration: .7s;
                animation-fill-mode: forwards;

            }
        }
    }

    hr {
        position: relative;
        background: lightgrey;
        height: 1px;
        outline: 0;
        border: 0;
        margin:0;
        padding: 0;
    }

}


@keyframes borderwidth {
    from {width: 0}
    to {width: 100%}
}


@keyframes borderwidthBack {

    from { border: 2px solid black; width: 100%}
    to {border: 0px solid black; width: 0}
}




