${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-parent-container ft-entire-sreen ft-top-padding-medium-rock-offset">
    <div class="ft-row ft-top-padding-medium-rock">
        <div class="ft-col-full ft-gap-tiny">
            <h1 class="ft-h1 ft-text-center ft-text-bold">Map</h1>
        </div>
        <div class="ft-col-lg-9 ft-text-center ">
            <p class="ft-paragraph ft-gap-tiny">Begin your journey by exploring the history of the iconic fragrance.
                Enjoy ice-skating and hot chocolate, then find your scent match and try your luck at winning a special
                prize.
            </p>
        </div>
    </div>
    <div class="ft-gap-medium"></div>
    <div class="ft-row ft-center">
        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center ft-gap-medium">
            <div class="ft-appt-container">
                <img
                    src="https:////www.chanel.com/emea/img//prd-emea/sys-master/content/h2a/hc4/9426481676318-N5-Rock-Center-MAP-ONE-EDITO-1080x1439.png" />
            </div>
        </div>
        <div class="ft-col-lg-4 ft-col-md-6 ft-col-sm-6 ft-text-center  ft-column">
            <div class="ft-appt-container ">
                <div class="ft-gap-small ft-start-align">
                    <div class="ft-circle-number-container">
                        <p class="ft-circle-number">1</p>
                    </div>
                    <div class="ft-description-container">
                        <h2 class="ft-h5 ft-text-start ft-text-bold ">the story</h2>
                        <p class="ft-paragraph  ft-text-start ft-gap-tiny">Discover the creation of the N°5 bottle and
                            scent.
                        </p>
                    </div>

                </div>
                <div class="ft-gap-extra-small ft-start-align">
                    <div class="ft-circle-number-container">
                        <p class="ft-circle-number">2</p>
                    </div>
                    <div class="ft-description-container">
                        <h2 class="ft-h5 ft-text-start ft-text-bold ">step inside nº5</h2>
                        <p class="ft-paragraph ft-text-start ft-gap-tiny">Have your photo taken and share it with
                            #N5INTHESTARS.
                        </p>
                    </div>


                </div>
                <div class="ft-gap-extra-small ft-start-align">
                    <div class="ft-circle-number-container">
                        <p class="ft-circle-number">3</p>
                    </div>
                    <div class="ft-description-container">
                        <h2 class="ft-h5 ft-text-start ft-text-bold ">the rink</h2>
                        <p class="ft-paragraph  ft-text-start ft-gap-tiny">Lace up and ice-skate, then enjoy sips and
                            snacks
                            in the lounge.</p>
                    </div>


                </div>
                <div class="ft-gap-extra-small ft-start-align">
                    <div class="ft-circle-number-container">
                        <p class="ft-circle-number">4</p>
                    </div>
                    <div class="ft-description-container">
                        <h2 class="ft-h5 ft-text-start ft-text-bold ">lucky nº5</h2>
                        <p class="ft-paragraph ft-text-start ft-gap-tiny">Receive a scratch-off card to see if you’ve
                            won a
                            special prize.
                        </p>
                        <p class="ft-paragraph ft-text-start ft-gap-tiny">
                            View the&nbsp;<a class="ft-underline " style="text-decoration: underline white;"
                                href="/us/fragrance/n5-in-the-stars-guide/official-rules/">Official Rules</a>.
                        </p>
                    </div>

                </div>
                <div class="ft-gap-extra-small ft-start-align">
                    <div class="ft-circle-number-container">
                        <p class="ft-circle-number">5</p>
                    </div>
                    <div class="ft-description-container">
                        <h2 class="ft-h5 ft-text-start ft-text-bold ">find your nº5</h2>
                        <p class="ft-paragraph ft-text-start ft-gap-tiny">Learn about the 5 interpretations of the
                            emblematic
                            accord and reveal your fragrance match.
                        </p>
                        <a href="/us/fragrance/women/c/7x1x1x30/n5/" class="ft-h7 ft-text-start ft-text-bold">
                            <p class="ft-underline-white">SHOP THE COLLECTION</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>