${freeTextJSLiabraries} ${freetextcss} ${freeTextjs}
<div class="ft-parent-container ft-top-padding-medium-rock-offset" id="rock-center-detail">
    <div class="ft-row ft-top-padding-medium-rock">
        <div class="ft-col-full">
            <h1 class="ft-h1 ft-text-center ft-gap-small ft-text-bold">OFFICIAL RULES</h1>
        </div>
        <div class="ft-col-full ft-text-center ">
            <h2 class="ft-h7 ft-text-center ft-gap-small ft-text-bold">THE CHANEL LUCKY N°5 SCRATCH CARD SWEEPSTAKES
            </h2>
            <p class=" ft-row .ft-col-9-normal ft-col-center ft-text-start">NO PURCHASE OR PAYMENT OF ANY
                KIND IS NECESSARY TO ENTER OR WIN THIS SWEEPSTAKES. A PURCHASE DOES NOT IMPROVE CHANCES OF WINNING.
            </p>
        </div>
    </div>
    <div class="ft-gap-tiny"></div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-col-full ft-text-start ft-text-bold"> 1. How to Enter and Win</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">Visit Rockefeller Center – 45
                Rockefeller Plaza, New York City, NY (“Event Location”), to receive a scratch-off card (“Scratch Card”)
                that will be distributed by Sponsor’s representatives between November 5, 2021, and November 12, 2021,
                or while supplies last, whichever occurs first (“Sweepstakes Period”). During the Sweepstakes Period,
                scratch off the gold surface of the Scratch Card. If the Scratch Card reveals three (3) bottles of
                CHANEL N°5 in a row, in columns or diagonally, you will be the winner of the prize set forth in Section
                4, subject to verification of eligibility, validity of the Scratch Card and compliance with the terms of
                these Official Rules. Limit 1 Scratch Card per person throughout the Sweepstakes Period. Any attempt by
                any entrant to obtain more than the stated number of Scratch Cards by any method will void that
                entrant’s Scratch Card.
                <br> <br>
                To redeem a winning Scratch Card, go to the CHANEL LUCKY N°5 Kiosk and present the Scratch Card to a
                Sponsor representative. All winning Scratch Cards are Sponsor’s property and must be redeemed on the
                date won or are void. If a potential winner does not redeem the Scratch Card on the date won, if any
                potential winner rejects or is ineligible for his/her prize, or in the event of noncompliance with these
                Sweepstakes rules and requirements, such prize will be forfeited. Upon prize forfeiture, no compensation
                will be given.
                <br> <br>
                Sponsor is not responsible for lost, late, illegible, stolen, incomplete, invalid, unintelligible,
                misdirected, damaged, technically corrupted or garbled Scratch Cards, which will be disqualified, or for
                problems of any kind whether mechanical, human or electronic. Proof of submission will not be deemed to
                be proof of receipt by Sponsor.

            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full ft-text-bold"> 2. ELIGIBILITY</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">Sweepstakes is open to legal
                residents of the fifty (50) United States and District of Columbia who are at least 13 years of age or
                older. Employees, officers and directors of Chanel, Inc. (“Sponsor”) and its parent company,
                subsidiaries, affiliates, partners, advertising and promotion agencies, manufacturers or distributors of
                sweepstakes materials and their immediate families (parents, children, siblings, spouse) or members of
                the same household (whether related or not) of such employees/officers/directors are not eligible to
                enter. All federal, state and local laws and regulations apply. Void where prohibited by law.
            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full  ft-text-bold"> 3. Odds</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">There will be 700 total winning
                Scratch Cards. Odds of winning a prize: 1:285. All entrants fully and unconditionally agree to be bound
                by these Official Rules and the decisions of the judges, which will be final and binding in all matters
                relating to the Sweepstakes.
            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full  ft-text-bold"> 4. Prizes</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">Each prize winner will receive
                a voucher for free ice skating at Rockefeller Center valid only on the actual date won, occurring
                between November 5, 2021, and November 12, 2021. Voucher terms and conditions and expiration dates
                apply. Approximate Retail Value (“ARV”) of each prize: $51. Total ARV of all prizes combined: $51. Limit
                1 prize per person. Prizes are non-transferable. No substitutions or cash redemptions. In the case of
                unavailability of any prize, Sponsor reserves the right to substitute a prize of equal or greater value.
                All taxes and unspecified expenses are the responsibility of winners. Sponsor will not replace any lost,
                mutilated or stolen vouchers.
                <br> <br>
                All Scratch Cards are subject to verification and are void if (a) not obtained in accordance with these
                Official Rules and through legitimate channels, (b) any part is counterfeit, altered, defective,
                illegible, reproduced, tampered with, mutilated or irregular in any way or (c) they contain printing,
                typographical, mechanical, seeding or other errors.Sponsor’s  liability for Scratch Cards containing
                printing or other errors is limited to replacement of such Scratch Card with another eligible Scratch
                Card, while supplies last. If due to a computer programming, printing, production or other error, more
                prizes are claimed than intended to be awarded according to this Paragraph 4, such prizes will be
                awarded in a random drawing from among all claims received for such prize. In no event will Sponsor be
                liable for more than the stated number of prizes in this Paragraph 4. UNCLAIMED PRIZES WILL NOT BE
                AWARDED.
            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full  ft-text-bold"> 5. General</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">Winners may be required by
                Sponsor to execute an Affidavit of Eligibility and Liability Release and where lawful, a Publicity
                Release within 5 days after being notified of potentially winning status. Noncompliance within specified
                time period or return of any prize notification as undeliverable or a determination that any selected
                entrant is ineligible will result in disqualification. By participating, entrants and winners agree to
                release and hold harmless Sponsor, its advertising and promotion agencies and their parent company,
                subsidiaries, affiliates, partners, representatives, agents, successors, assigns, employees, officers
                and directors (collectively, “Released Entities”), from any and all liability, for loss, harm, damage,
                injury, cost or expense whatsoever including without limitation, property damage, personal injury and/or
                death which may occur in connection with, preparation for, travel to, or participation in Sweepstakes,
                or possession, acceptance and/or use or misuse of prize or participation in any Sweepstakes-related
                activity and for any claims based on publicity rights, defamation or invasion of privacy and merchandise
                delivery. By accepting the prize, winners grant to Sponsor the right to use his/her name, photo, image,
                likeness, hometown and biographical information, for any lawful purpose (including but not limited to
                advertising and promotion), in perpetuity, in any media now known or hereafter developed, without
                further permission or compensation, except where prohibited by law.
                <br> <br>
                Sponsor reserves the right, in its sole discretion, to modify, cancel or suspend this Sweepstakes (or
                any portion of the Sweepstakes) should any cause or problem corrupt or inhibit the administration,
                fairness, security or proper operation of the Sweepstakes, or if Sweepstakes cannot take place or if a
                prize cannot be awarded due to travel cancellations, delays or interruptions due to acts of God, acts of
                war, natural disasters, epidemics, pandemics, weather or acts of terrorism. In such situation, Sponsor
                reserves the right to select the winners in such manner as deemed fair and appropriate by Sponsor. If,
                in Sponsor's opinion, there is any suspected or actual evidence of tampering with any portion of the
                Sweepstakes, or if technical difficulties compromise the integrity of the Sweepstakes, the judges and/or
                Sponsor reserve the right to void suspect claims and/or terminate the Sweepstakes (or any portion of the
                Sweepstakes) and conduct a random drawing to award the prizes using all known eligible non-suspect prize
                claims received as of the date of termination. Sponsor may prohibit an entrant from participating in the
                Sweepstakes or winning a prize if, in its sole discretion, it determines entrant is attempting to
                undermine the legitimate operation of the Sweepstakes by cheating, deception or other unfair practices
                or intending to annoy, abuse, threaten or harass any other entrant or the Sponsor or Sponsor’s
                representatives. Sponsor has not made and/or is not responsible for any misrepresentation or guaranty,
                express or implied, in fact or in law, relative to the prizes. Any attempt by an entrant to deliberately
                undermine the legitimate operation of the sweepstakes is a violation of criminal and civil laws, and
                should such an attempt be made, Sponsor reserves the right to seek damages from any such entrant to the
                fullest extent permitted by law.

            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full ft-text-bold"> 6. Disputes</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">The parties waive all rights to
                trial in any action or proceeding instituted in connection with these Official Rules, including, without
                limitation, the Sweepstakes. Any controversy or claim arising out of or relating to these Official Rules
                and/or the Sweepstakes shall be settled by binding arbitration in accordance with the commercial
                arbitration rules of the American Arbitration Association. Any such controversy or claim shall be
                arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or
                controversy of any other party. The arbitration shall be conducted in the State of New York, City of New
                York. THESE OFFICIAL RULES AND THE INTERPRETATION OF ITS TERMS SHALL BE GOVERNED BY AND CONSTRUED IN
                ACCORDANCE WITH THE LAWS OF THE STATE OF NEW YORK WITHOUT REGARD TO ITS CONFLICTS OF LAWS RULES. For any
                matters which are not subject to arbitration as set forth in these Official Rules and/or in connection
                with the entering of any judgment on an arbitration award in connection with these Official Rules and/or
                the Sweepstakes, the parties irrevocably submit and consent to the exclusive jurisdiction and venue of
                the state and federal courts located in or closest to the County of New York in the State of New York.
                The parties agree not to raise the defense of forum non conveniens.

            </h2>
        </div>
    </div>
    <div class="ft-row ft-top-padding-tiny ft-gap-small">
        <div class="ft-col-full">
            <h1 class="ft-h7 ft-text-start ft-col-full  ft-text-bold"> 7. Sponsor</h1>
        </div>
        <div class="ft-col-full ft-text-start ">
            <h2 class="ft-paragraph ft-row .ft-col-9-normal ft-col-center ft-text-start">Chanel, Inc., 9 West 57th
                Street, New York, NY 10019
            </h2>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>